.about{
  padding-top: 200px;
    &__runners{
        padding-bottom: 200px;
    }
    &--info{
        padding-top: 60px;
        padding-bottom: 100px;
        &-top{
            padding-top: 70px;
            padding-bottom: 60px;
        }
        &-left{
            h3{
            font-weight: 900;
            font-size: 28px;
            color: #000000;
            }
            p{
            padding-top: 40px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 22px;
            color: #000000;
                a{
                    text-decoration: underline;
                    text-underline-color: black;
                }
            }
            b{
                color: #000000;
                font-weight: bold;
                a{
                    color:blue;
                }
            }
        }
        &-right{
            position: relative;
            background: #FFFFFF;
            h3{
                text-transform: uppercase;
                font-weight: 900;
                font-size: 28px;
                color: #000000;
                border-bottom: 1px black solid;
                &:not(:first-child){
                    padding-top: 50px;
                }
            }
            p{
                padding-top: 40px;
                font-style: normal;
                font-weight: 300;
                font-size: 16px;
                line-height: 22px;
                color: #000000;
                b{
                    font-weight: normal;
                    text-transform: uppercase;
                }
                a{
                    color: black;
                    text-decoration: underline;
                    text-decoration-color: black;
                }
            }
        }
    }
  &__wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    &--item{
      position: relative;
      display: inline-block;
    }
  }
    &__summary{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    &__blocks{
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        .block{
            margin-top: 20px;
            width: 300px;
            padding: 30px;
            background: #E7E7E7;
            .time{
                text-transform: uppercase;
                color: #000000;
                font-weight: bold;
                padding-bottom: 5px;
                border-bottom: 1px black solid;
            }
            p{
                padding-top: 30px;
                text-transform: uppercase;
                color: #202020;
            }
        }
        .active{
            background: #BEFF70;
        }
    }
    &__program{
        a{
            margin: 0 10px;
            padding: 3px 5px;
            text-transform: uppercase;
            color: #202020;
            font-weight: bold;
        }
        .active{
            background: #9CFE25;
        }
    }
    &__table{
        margin-top: 90px;
        margin-bottom: 90px;
        width: 100%;
        tr:first-child{
            background: #000000;
            color: white;
            font-weight: bold;
        }
        tr{
            text-transform: uppercase;
            td{
                padding: 10px 10px;
            }
        }
    }
    &__information{
        &--table{
            margin-top: 50px;
            box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.08);
            .title{
                background: #000000;
                padding: 10px 20px;
                font-weight: bold;
                font-size: 22px;
                text-transform: uppercase;
                color: #FFFFFF;
            }
            .info{
                display: flex;
                justify-content: space-between;
                padding: 10px 20px;
                .right{
                    text-transform: uppercase;
                    color: #000000;
                }
            }
            .info:not(:last-child){
                border-bottom: 1px #EAEAEA solid;
            }
        }
        &--title{
            padding-top: 40px;
            font-size: 26px;
            text-transform: uppercase;
            color: #000000;
        }
        ul{
            a{
                display: block;
                padding: 0px;
                font-size: 16px;
                text-transform: uppercase;
                color: #000000;
                margin-bottom: 15px;
                &:hover{
                text-decoration: underline;
                    text-decoration-color: black;
                }
            }
            .active{
                text-decoration: underline;
                text-decoration-color: black;
            }
        }
    }
}
