.basket__title {
   padding: 34px 0;
   text-align: center;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
   border-bottom: 1px solid #ededed;
   img {
      vertical-align: middle;
      margin: 0 20px;
      width: 43px;
   }
   h2 {
      vertical-align: middle;
      text-transform: uppercase;
      text-align: center;
      font-style: normal;
      font-weight: normal;
      line-height: 37px;
      font-size: 26px;
      letter-spacing: 0.15em;

      display: inline-block;
   }
}
.basket-back{
    padding: 60px 0;
    background: #F1F8F8;
}
.rest {
   padding: 20px;
   &--info{
       display: inline-block;
       padding-left: 20px;
       vertical-align: middle;
   }
   &--img {
      width: 60px;
      vertical-align: middle;
   }
   &__name {
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
      letter-spacing: 0.3em;
      vertical-align: middle;
   }
   &__type {
      font-style: normal;
      font-weight: normal;
      line-height: 21px;
      font-size: 15px;
      color: rgba(63, 63, 72, 0.75);
   }
   &__delivery {
      vertical-align: middle;
      &--wrap{
          width: 46px;
          height: 46px;
          vertical-align: middle;
          background: #C2F62C;
          line-height: 46px;
          border-radius: 50%;
          display: inline-block;
          text-align: center;
        img {
            vertical-align: middle;
            width: 23px;
         }
      }

      p {
         margin-left: 5px;
         display: inline-block;
         vertical-align: middle;
         color: #3f3f48;
         font-style: normal;
         font-weight: bold;
         line-height: normal;
         font-size: 15px;
      }
   }
   &__location {
       vertical-align: middle;
      img {
         height: 46px;

         display: inline-block;
         vertical-align: middle;
      }
      p {
         margin-left: 5px;
         display: inline-block;
         vertical-align: middle;
         font-style: normal;
         font-weight: normal;
         line-height: normal;
         font-size: 15px;
         color: #3f3f48;
      }
   }
}
.small-show{
    display: none;
}
.item {
    .delete{
        img{
            user-select: none;
        }
    }
   &__checkout{
      padding: 30px;
      background: white;
      border-bottom: 1px #EDEDED solid;
      .transition(.1s all ease-out);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
      &--info{
         border-bottom: 1px #E2E2E2 solid;
         padding-bottom: 10px;
         position: relative;
          .button{
              margin-right: 15px;
              margin-top: 10px;
              padding: 8px 10px;
              border-radius: 10px;
              border: 1px #E2E2E2 solid;
          }
          .active{
              background: #e9fde2;
              color: #31ba00;
              border: none;
          }
         img{
            position: absolute;
            right: 10px;
            top: 10px;
         }
         .input{
            font-family: Rubik;
            width: 400px;
            font-size: 13px;
            border: none;
            background: white;
            padding: 10px 0px 0px 10px;
         }
          textarea{
            font-family: Rubik;
            width: 400px;
            font-size: 13px;
            border: none;
            padding: 10px 0px 0px 10px;
            resize: none;
          }
      }
   }
   padding: 30px;
   background: white;
   border-bottom: 1px #EDEDED solid;
   .transition(.1s all ease-out);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
   &:hover{
    .scale(1.03);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.07);
   }
   * {
      vertical-align: middle;
   }

   &__wrapped{
       display: inline-block;
   }
   &__text {
      display: inline-block;
      width: 35%;
       user-select: none;
      img {
         display: inline-block;
      }
      h3 {
         display: inline-block;
         font-style: normal;
         font-weight: bold;
         line-height: 23px;
         font-size: 16px;
         color: #3F3F48;
         margin-left: 2vw;
      }
   }
   &__p {
      display: inline-block;
      max-width: 35%;
       user-select: none;
       font-style: normal;
      font-weight: 300;
      line-height: 27px;
      font-size: 16px;
      color: #3F3F48;

   }

   &__num {
      display: inline-block;
      .input-number {
         width: 60px;
         background: #e9fde2;
         border: none;
         padding: 0 12px;
         vertical-align: top;
         text-align: center;
         outline: none;
      }

      .input-number,
      .input-number-decrement,
      .input-number-increment {
         height: 28px;
         user-select: none;
      }

      .input-number-decrement,
      .input-number-increment {
         display: inline-block;
         width: 28px;
         line-height: 28px;
         background: #b7fd9f;
         color: #31ba00;
         text-align: center;
         font-weight: bold;
         cursor: pointer;
         position: relative;
      }
      .input-number-decrement:active,
      .input-number-increment:active {
         background: #ddd;
      }

      .input-number-decrement {
         border-radius: 50%;
         left: 20px;
      }

      .input-number-increment {
         border-radius: 50%;
         right: 20px;
      }
   }
   &__price-2 {
      display: inline-block;
      font-size: 22px;
      text-align: right;
       user-select: none;
       padding-right: 30px;
   }
   &__delete {
      margin: 43px;
      text-align: right;
   }
}
.basket__btn{
   display: inline-block;
   padding: 14px 70px;
   background: #C2F62C;
   border-radius: 100px;
   color: #025514;
   font-size: 16px;
}
.basket__info{
   span{
      display: inline-block;
   }
   .price{
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 36px;
      padding-left: 10px;
   }
   font-style: normal;
   font-weight: 300;
   font-size: 14px;
   line-height: 20px;
   color: #3F3F48;
}
