.site-bottom{
    width: 100%;
    background: #99FF1D;
    color: black;
    background-size: cover;
    &__title{
        padding-top: 40px;
        padding-bottom: 150px;
        max-width: 700px;
        font-weight: bold;
        font-size: 90px;
        line-height: 85px;
        text-transform: uppercase;
    }
}
