.footer{
    background: white;
    padding: 30px 0;
    .mailed{
        text-decoration: underline;
        text-decoration-color: black;
    }
    &__socials{
        a{
            padding: 0 15px;
            &:hover img {
                filter: none;
            }
            img{
                filter: grayscale(100%);
                transition: .2s all ease-out;
            }
        }
    }
}
