.inner{
  padding-top: 80px;
  &__info{
    padding-top: 70px;
    padding-bottom: 160px;
    .img{
      width: 80%;
    }
    &--title{

      font-weight: 900;
      font-size: 30px;
      line-height: 50px;
      text-transform: uppercase;
      color: #000000;
      padding-bottom: 20px;
    }
    &--text{
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 32px;
      color: #000000;
    }
  }
  &__wrapper{
    padding-top: 80px;
    padding-bottom: 100px;
    &--date{
      padding-top: 50px;
      b{

        font-weight: 800;
        font-size: 60px;
        text-transform: uppercase;
        color: #000000;
      }
      p{

        font-weight: 500;
        font-size: 12px;
        text-transform: uppercase;
        color: #000000;
        opacity: 0.5;
      }
    }
    &--text{

      font-weight: normal;
      font-size: 38px;
      line-height: 70px;
      text-transform: uppercase;
      color: #000000;
      text-align: left;
    }
  }
}
