.main{
    width: 100%;
    //background:linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 28.94%),  url('/img/main.png') center no-repeat;
    background: url(/img/newback.png) top no-repeat;
    background-size: cover;
    padding-top: 80px;
    padding-bottom: 50px;
    color: #FFFFFF;
    text-align: center;
    &__about{
        padding-top: 350px;
        font-weight: 900;
        font-size: 70px;
        text-align: center;
        text-transform: uppercase;
        text-shadow: 50px 50px 150px rgba(0, 0, 0, 0.25);
    }
    &__title{
        color: black;
        font-weight: bold;
        font-size: 150px;
        line-height: 120px;
        text-align: center;
        text-transform: uppercase;
        img{
            width: 100%;
            max-width: 800px;
        }
    }
    &__info{
        padding-top: 50px;
        &--time{
            display: inline-block;

            font-weight: 900;
            font-size: 70px;
            vertical-align: middle;
            text-transform: uppercase;
        }
        &--distance{
            padding-left: 30px;
            display: inline-block;

            vertical-align: middle;
            font-weight: 900;
            font-size: 30px;
            text-transform: uppercase;
            color: #FFFFFF;
        }
    }
    &__register{
        width: 300px;
        font-size: 18px;
        margin-top: 50px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        color: white;
        padding: 8px 0px;
        background: #F000FF;
        background-size: 100% 100%;
    }
    &__logout{
        width: 300px;
        font-size: 18px;
        margin-top: 50px;
        display: inline-block;
        text-align: center;
        text-transform: uppercase;
        color: white;
        padding: 8px 0px;
        background: #000000;
        background-size: 100% 100%;
    }
}
