.nav{
    padding-top: 10px;
    padding-bottom: 10px;
    background: #FFFFFF;
    &__logo{
        margin-right: 20px;
        display: inline-block;
        vertical-align: middle;
        text-align: center;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 24px;
        line-height: 20px;
    }
    &__links{
        display: inline-block;
        vertical-align: middle;
        font-size: 14px;
        line-height: 42px;
        text-transform: uppercase;
        color: #000000;
        a{
            position: relative;
            margin-left: 1.5vw;
            &::after{
                content: '';
                display: block;
                height: 2px;
                background: #99FF1D;
                position: absolute;
                bottom: -10px;
                left: 0;
                transition: .2s all ease-out;
            }
            &:not(.active)::after{
                width: 0px;
            }
            &:hover:after{
                width: 36px;
            }
        }
    }
    &__profile{
        position: relative;
        display: inline-block;
        vertical-align: middle;
        padding-left: 40px;
        #profile{
            vertical-align: middle;
        }
    }
    &__lang{
        display: inline-block;
        font-size: 13px;
        vertical-align: middle;
        text-transform: uppercase;
        color: #000000;
        text-shadow: 0px 4px 150px rgba(0, 0, 0, 0.25);
        a{
            padding-left: 8px;
        }
    }
}
.menu{
    width: 282px;
    height: 100%;
    z-index: 20;
    padding: 25px 0 25px 20px;
    background: #FFFFFF;
    box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: -280px;
    transition: .5s ease all;
    .hamburger{
        vertical-align: middle;
        position: absolute;
        right: 0;
    }
    .logo{
        margin-right: 30px;
        vertical-align: middle;
    }
    &__profile{
        padding-top: 50px;

        font-weight: 500;
        font-size: 15px;
        text-transform: uppercase;
        color: #000000;
        text-shadow: 0px 4px 150px rgba(0, 0, 0, 0.25);
        img{
            vertical-align: middle;
            margin-right: 10px;
        }
    }
    &__lang{
        margin-top: 30px;
        a{
            padding-right: 25px;
        }
        position: absolute;
        bottom: 20px;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        color: #000000;
        text-shadow: 0px 4px 150px rgba(0, 0, 0, 0.25);
    }
    &__links{
        padding-top: 50px;
        li{
            font-size: 15px;
            line-height: 18px;
            text-transform: uppercase;
            color: #000000;
            padding-bottom: 15px;
            text-shadow: 0px 4px 150px rgba(0, 0, 0, 0.25);
        }
    }
}
.is-open{
    transform: translateX(280px);
}
.modal{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background: rgba(255,255,255,0.5);
    overflow-y: hidden;
}
.is-show{
    display: block !important;
}
.auth{
    text-align: left;
    display: none;
    width: 535px;
    background: #FFFFFF;
    box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.1);
    position: absolute;
    z-index: 30;
    top: -40px;
    right: -35px;
    padding-top: 40px;
    padding-left: 20px;
    padding-right: 20px;
    &__title{
        font-weight: 900;
        padding-top: 8px;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #99FF1D;
    }
    &__remember{
        display: block;
        margin-top: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        opacity: 0.5;
    }
    .content__btn{
        margin: 30px 0 30px 0 ;
    }
    label{
        display: block;
        padding-top: 40px;

        font-weight: 900;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        color: #000000;
    }
    input{
        width: 100%;
        height: 50px;
        border: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #000000;
        border-bottom: 1px #D5DBE5 solid;
    }
}
.authorize{
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    &__title{
        font-weight: 900;
        padding-top: 8px;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #99FF1D;
    }
    &__remember{
        display: block;
        margin-top: 20px;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
        line-height: 15px;
        color: #000000;
        opacity: 0.5;
    }
    .content__btn{
        margin: 30px 0 30px 0 ;
    }
    label{
        display: block;
        padding-top: 40px;

        font-weight: 900;
        font-size: 11px;
        line-height: 13px;
        text-transform: uppercase;
        color: #000000;
    }
    input{
        width: 100%;
        height: 50px;
        border: none;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        color: #000000;
        border-bottom: 1px #D5DBE5 solid;
    }
}
.auth-modal{
    position: fixed;
    display: none;
    top: 0;
    bottom: 0;
    z-index: 5;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.23);
    overflow-y: hidden;
}
.active{
    &::after{
        width: 50%;
    }
}
