.register{
    width: 100%;
    background-size: cover;
    background-position: top;
    &__title{
        background: #B3FB54;
        color:white;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 140px;
    }
    &__change{
        padding-top: 90px;

        font-weight: 900;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #000000;
    }
    &__success{
        .img{
            margin-top: 100px;
            margin-bottom: 50px;
        }
        &--btn{
                display: block;
                height: 46px;
                background: #F000FF;
                background-size: 100% 100%;
                font-style:normal;
                font-weight: 900;
                font-size: 13px;
                line-height: 46px;
                text-align: center;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #FFFFFF;
                margin-bottom: 120px;
        }
        &--h3{
            font-style:normal;
            font-weight: 900;
            font-size: 40px;
            line-height: 49px;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
        &--p{
            max-width: 480px;
            margin: 40px auto 40px;
            font-style: normal;
            font-weight: 300;
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #000000;
        }
    }
    &__payment{
        padding-top: 60px;
        .flexer{
            display: flex;
            flex-wrap: wrap;
            padding: 0 15px;
            justify-content: space-between;
            img{
                margin: 15px 15px;
            }
        }
        &--text{
            font-style:normal;
            font-weight: normal;
            font-size: 13px;
            line-height: 15px;
            color: #000000;
            opacity: 0.7;
            padding-bottom: 40px;
        }
    }
    &__info{
        padding-top: 20px;
        padding-bottom: 20px;
        border-bottom: 1px #EAEEF3 solid;
        display: flex;
        align-items: center;
        .left{
            flex-basis: 90px;
            font-style: normal;
            text-transform: uppercase;
            font-weight: normal;
            font-size: 14px;
            line-height: 22px;
            color: #000000;
            opacity: 0.75;
        }
        .right{
            flex-basis: 160px;
            font-style: normal;
            font-size: 14px;
            text-align: right;
            color: #000000;
        }
    }
    &__btn{
        display: block;
        width: 290px;
        height: 46px;
        background: url("/img/black.svg") center no-repeat;
        background-size: 100% 100%;
        font-style:normal;
        font-weight: 900;
        margin-top: 60px;
        font-size: 13px;
        line-height: 46px;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-bottom: 50px;
    }
    &__price{
        font-style:normal;
        font-weight: 900;
        font-size: 34px;
        line-height: 30px;
        text-transform: uppercase;
        color: #B3FB54;
    }
    &__right{
        padding-top: 30px;
        padding-bottom: 40px;
        text-align: left;
        font-style:normal;
        font-weight: 900;
        font-size: 24px;
        max-width: 240px;
        line-height: 20px;
        text-transform: uppercase;
        color: #000000;
    }
    .whitespace{
        background: #FFFFFF;
        //box-shadow: 50px 50px 200px rgba(0, 0, 0, 0.1);
        padding-left: 30px;
        padding-right: 30px;
        &-right{
            text-align: left;

            //box-shadow: 50px 50px 200px rgba(0, 0, 0, 0.1);
            background: rgba(255,255,255,1);
        }
    }
    .agreement{
        padding-top: 30px;
        input{
            display: inline-block;
            vertical-align: middle;
            width: auto;
            height: auto;
        }
        label{
            display: inline-block !important;
            a{
                color: blue;
            }
        }
        .information{
            padding-top: 5px;
            padding-left: 25px;
            font-style: normal;
            font-weight: 300;
            font-size: 13px;
            line-height: 15px;
            color: #000000;
            &-big{
                font-style: normal;
                font-weight: 300;
                font-size: 13px;
                line-height: 15px;
                color: #000000;
                padding-left: 5px;
                padding-top: 5px;
                width: 80%;
                vertical-align: top;
            }
        }
    }
    .distance{
        padding-bottom: 40px;
        input[type='radio']{
            display: none;
        }
        label{
            display: inline-block;
            width: 280px;
            height: 100px;
            color: black;
            line-height: 100px;
            cursor: pointer;
            &:nth-of-type(1){
                background: #E3FDB8;
            }
            &:nth-of-type(2){
                background: #B3FB54;
            }
            &:nth-of-type(3){
                background: #CBFC7F;
            }
            b{
                font-style:normal;
                font-size: 24px;
                padding-left: 20px;
                vertical-align: middle;
                text-transform: uppercase;
            }
            span{
                font-style:normal;
                font-weight: bold;
                font-size: 24px;
                vertical-align: middle;
                padding-left: 50px;
                text-align: right;
                text-transform: uppercase;
            }
        }
        & input:checked + label{
            background: lightgreen;
        }
    }
    &__distance{
        padding-top: 60px;
        padding-bottom: 60px;
        font-style:normal;
        font-weight: 900;
        font-size: 22px;
        text-transform: uppercase;
        color: #000000;
    }
    &__form{
        .flexy{
            padding-top: 50px;
            display: flex;
            justify-content: space-around;
            a{
                display: inline-block;
                flex: 1;
                margin: 0 10px;
                height: 500px;
                text-align: center;
                box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.1);
                img{
                    width: 200px;
                    margin-bottom: 20px;
                    margin-top: 200px;
                }
                span{
                    display: block;
                }
            }
        }
        &--raw{
            padding-top: 50px;
            #gender1, #gender2{
                width: auto !important;
                vertical-align: middle;
            }
            .disable{
                width: 100%;
                height: 50px;
                line-height: 50px;
                border: none;
                font-style: normal;
                font-weight: normal;
                font-size: 16px;
                color: #000000;
                background: #D5DBE5;
                border-bottom: 1px #D5DBE5 solid;
            }
        }
        .info{
            padding-top: 20px;
            font-style: normal;
            font-size: 12px;
            line-height: 20px;
            color: #000000;
        }
        .title{
            font-style:normal;
            font-size: 14px;
            text-transform: uppercase;
            color: #000000;
            display: block;
        }
        input , select{
            width: 100%;
            height: 50px;
            border: none;
            font-style: normal;
            font-weight: normal;
            font-size: 16px;
            color: #000000;
            border-bottom: 1px #D5DBE5 solid;
        }
    }
    &__status{
        border-bottom: 1px #B0B0B0 solid;
        &--wrapper{
            display: inline-block;
            width: 31%;
            font-style:normal;
            font-weight: bold;
            font-size: 15px;
            line-height: 20px;
            text-transform: uppercase;
            padding: 30px 0;
            position: relative;
            &:nth-child(1){
                &::after{
                    left: -40px;
                }
            }
            &:nth-child(2){
                &::after{
                left: 50%;
                transform: translate(-50%,0);
                }
            }
            &:nth-child(3){
                &::after{
                    right: 0;
                }
            }
        }
        .active{
            font-weight: bold;
            color: #000000;
            &::after{
                content: '';
                position: absolute;
                bottom: -2px;
                width: 180px;
                height: 2px;
                background: #E7FECA;
            }
        }
    }
}
.profile{
    &-right{
        margin-top: 50px;
        border: 10px #BEFF70 solid;
        &__info{
            text-align: left;
            padding-bottom: 10px;
            margin: 15px 20px 10px;
            &:not(:last-child){
            border-bottom: 1px black solid;
            }
            .left{
                font-size: 15px;
                text-transform: uppercase;
            }
            .right{
                text-transform: uppercase;
                color: #172032;
                font-size: 22px;
                font-weight: bold;
            }
        }
        &__title{
            background: #99FF1D;
            font-size: 16px;
            padding: 10px 0px 20px;
            text-transform: uppercase;
            color: black;
            font-weight: bold;
        }
    }
}
