/*
 * Base
 *
 * Here you include all of your core files
 * like fonts, mixins, variables, e.t.c
 */
@font-face {
  font-family: Agipo;
  src: url('/fonts/agipo_regular-webfont.woff2') format('woff2'), url('/fonts/agipo_regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: Agipo;
  src: url('/fonts/agipo_bold_condensed-webfont.woff2') format('woff2'), url('/fonts/agipo_bold_condensed-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
.mt-10 {
  margin-top: 10px;
}
.mt-30 {
  margin-top: 30px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-50 {
  padding-left: 50px;
}
.pb-40 {
  padding-bottom: 40px;
}
.pb-30 {
  padding-bottom: 30px;
}
.pb-20 {
  padding-bottom: 20px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-30 {
  margin-bottom: 30px;
}
.pt-50 {
  padding-top: 50px;
}
.pt-20 {
  padding-top: 20px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pr-40 {
  padding-right: 40px;
}
.pb-100 {
  padding-right: 100px;
}
.text-up {
  text-transform: uppercase;
}
.mt-20 {
  margin-top: 20px;
}
.mt-25 {
  margin-top: 25px;
}
.mb-10 {
  margin-bottom: 15px;
}
.photos img {
  display: inline-block !important;
  text-align: center;
}
.mt-14 {
  margin-top: 14px;
}
.ml-10 {
  margin-left: 20px;
}
.ib {
  display: inline-block;
}
.pt-25 {
  padding-top: 25px;
}
.pl80 {
  padding-left: 80px;
}
.pt-5 {
  padding-top: 3px;
}
.pr-25 {
  padding-right: 25px;
}
.mb-60 {
  margin-bottom: 60px;
}
.vm {
  vertical-align: middle !important;
}
.pl-10 {
  padding-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
.oh {
  overflow: hidden;
}
.none {
  visibility: hidden;
}
.mt-25 {
  margin-top: 25px;
}
.mt-80 {
  margin-top: 80px;
}
.index {
  z-index: 10;
}
.mx-50 {
  margin: 0 50px;
}
.ml-3 {
  margin-left: 3em;
}
.bg-white {
  background: white;
}
.relative {
  position: relative;
}
.pt-10 {
  padding-top: 10px;
}
.pt-40 {
  padding-top: 40px;
}
.px-15 {
  padding: 0 15px;
}
.front-index {
  z-index: 99;
}
.top5 {
  top: -6px;
}
.pt5 {
  padding-top: 5px;
}
.br50 {
  border-radius: 50%;
}
.dots {
  display: inline-block;
  width: 260px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.dots-lil {
  display: inline-block;
  width: 160px;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
}
.dots-big {
  display: inline-block;
  width: 360px;
  height: 45px;
  overflow: hidden !important;
}
.word-limit {
  max-width: 190px;
  display: inline-block;
}
.display-none {
  display: none;
}
.pointer {
  cursor: pointer;
}
.block {
  display: block;
}
.mr-80 {
  margin-right: 80px;
}
.mt-50 {
  margin-top: 50px;
}
.margin0 {
  margin: 0 !important;
}
.mt-120 {
  margin: 120px 0 0 0 !important;
}
.borders-big {
  position: relative;
}
.borders-big::before {
  content: '';
  display: inline-block;
  position: absolute;
  z-index: 5;
  border-top: 0px solid transparent;
  border-left: 480px solid #ffffff;
  border-bottom: 70px solid transparent;
  top: 0;
  left: 0;
  right: 0;
}
.borders-big::after {
  content: '';
  display: inline-block;
  position: absolute;
  border-top: 80px solid transparent;
  border-right: 500px solid #ffffff;
  border-bottom: 0px solid transparent;
  bottom: 0;
  left: -30px;
  right: 0;
}
.md-float-right {
  display: none;
  vertical-align: text-bottom;
}
.fixed {
  height: 100vh;
}
.auto-width {
  width: auto;
}
.error {
  color: red;
}
.no-padding {
  padding: 0 !important;
}
.pl-30 {
  padding-left: 30px;
}
.hide-item {
  visibility: hidden;
}
.apply {
  padding-left: 10px;
}
.opacity-hide {
  opacity: 0 !important;
}
.pos-fixed {
  position: fixed;
  top: 50px;
}
.mb-70 {
  margin-bottom: 70px;
}
.bold {
  font-weight: bold;
}
.swal-modal {
  font-family: Agipo;
}
.swal-text {
  font-weight: normal !important;
}
.swal-title {
  font-weight: normal !important;
}
.swal-button {
  background-color: #F000FF;
}
.swal-button:hover {
  background-color: #99FF1D !important;
}
/*
 * Global styles
 *
 * Define global styles.
 */
input {
  border-radius: 0;
  border-radius: none;
}
/*
 * Global classes
 * 
 * Define global classes to apply
 * to  your <body/>.
 *
 * Note: Nested selectors allowed.
 */
/* Example */
.nav-opened {
  /* ... */
}
/*
 * Global Media Queries
 *
 * Define global media queries.
 */
/*
 * Responsive breakpoints
 */
/*
 * Font variables
 */
/*
 * <body/> background-color
 */
/*
 * Layout spacing
 *
 * Define layout spacing classes
 * which are applied to fast spacer classes
 * defined in 'utilities/spacer/_layout.less'
 */
/*
 * Component variables
 *
 * Define all of the components variables
 */
/* Used to make simillar UI elements same height */
/*
 * Block variables
 *
 * Define block variables
 */
/*
 * Plug-ins
 *
 * Here you include all of the third-party plugins
 * used in your website like normalize, slick, grid, e.t.c
 */
.container,
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
}
@-ms-viewport {
  width: device-width;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 1360px) {
  .container {
    width: 1340px;
  }
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}
.col,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col,
.col-xs-1,
.col-xs-10,
.col-xs-11,
.col-xs-12,
.col-xs-2,
.col-xs-3,
.col-xs-4,
.col-xs-5,
.col-xs-6,
.col-xs-7,
.col-xs-8,
.col-xs-9 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0;
}
@media (min-width: 768px) {
  .col,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 992px) {
  .col,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .col,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0;
  }
}
.clearfix,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.row:after,
.row:before {
  content: " ";
  display: table;
}
.clearfix:after,
.container-fluid:after,
.container:after,
.row:after {
  clear: both;
}
*,
:after,
:before {
  box-sizing: border-box;
}
/* Slider */
.slick-slider {
  position: relative;
  width: 100%;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}
.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}
.slick-track:before,
.slick-track:after {
  display: table;
  content: '';
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}
[dir='rtl'] .slick-slide {
  float: right;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  font-size: 0;
  line-height: 0;
  position: absolute;
  top: 50%;
  display: block;
  width: 80px;
  height: 60px;
  z-index: 20;
  background-size: 100% 100%;
  padding: 0;
  transform: translate(0, -50%);
  cursor: pointer;
  border: none;
  outline: none;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
}
.slick-prev:hover:before,
.slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-prev {
  left: -25px;
  background: url("/img/arrow.svg") center no-repeat;
}
[dir='rtl'] .slick-prev {
  right: -25px;
  left: auto;
}
.slick-prev:before {
  content: '';
}
[dir='rtl'] .slick-prev:before {
  content: '';
}
.slick-next {
  right: -25px;
  background: url("/img/arrowright.svg") center no-repeat;
}
[dir='rtl'] .slick-next {
  right: auto;
  left: -25px;
}
.slick-next:before {
  content: '';
}
[dir='rtl'] .slick-next:before {
  content: '';
}
/* Dots */
.slick-dots {
  display: block;
  position: absolute;
  bottom: 30px;
  vertical-align: middle;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 3px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  font-size: 60px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '\2022';
  text-align: center;
  opacity: 0.25;
  color: white;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: white;
}
.iti {
  position: relative;
  width: 100%;
  display: inline-block;
}
.iti * {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.iti__hide {
  display: none;
}
.iti__v-hide {
  visibility: hidden;
}
.iti input,
.iti input[type=text],
.iti input[type=tel] {
  position: relative;
  z-index: 0;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-right: 36px;
  margin-right: 0;
}
.iti__flag-container {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  padding: 1px;
}
.iti__selected-flag {
  z-index: 1;
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 6px 0 8px;
}
.iti__arrow {
  margin-left: 6px;
  width: 0;
  height: 0;
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  border-top: 4px solid #555;
}
.iti__arrow--up {
  border-top: none;
  border-bottom: 4px solid #555;
}
.iti__country-list {
  position: absolute;
  z-index: 2;
  list-style: none;
  text-align: left;
  padding: 0;
  margin: 0 0 0 -1px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 1px solid #CCC;
  white-space: nowrap;
  max-height: 200px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.iti__country-list--dropup {
  bottom: 100%;
  margin-bottom: -1px;
}
@media (max-width: 500px) {
  .iti__country-list {
    white-space: normal;
  }
}
.iti__flag-box {
  display: inline-block;
  width: 20px;
}
.iti__divider {
  padding-bottom: 5px;
  margin-bottom: 5px;
  border-bottom: 1px solid #CCC;
}
.iti__country {
  padding: 5px 10px;
  outline: none;
}
.iti__dial-code {
  color: #999;
}
.iti__country.iti__highlight {
  background-color: rgba(0, 0, 0, 0.05);
}
.iti__flag-box,
.iti__country-name,
.iti__dial-code {
  vertical-align: middle;
}
.iti__flag-box,
.iti__country-name {
  margin-right: 6px;
}
.iti--allow-dropdown input,
.iti--allow-dropdown input[type=text],
.iti--allow-dropdown input[type=tel],
.iti--separate-dial-code input,
.iti--separate-dial-code input[type=text],
.iti--separate-dial-code input[type=tel] {
  padding-right: 6px;
  padding-left: 52px;
  margin-left: 0;
}
.iti--allow-dropdown .iti__flag-container,
.iti--separate-dial-code .iti__flag-container {
  right: auto;
  left: 0;
}
.iti--allow-dropdown .iti__flag-container:hover {
  cursor: pointer;
}
.iti--allow-dropdown .iti__flag-container:hover .iti__selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}
.iti--allow-dropdown input[disabled] + .iti__flag-container:hover,
.iti--allow-dropdown input[readonly] + .iti__flag-container:hover {
  cursor: default;
}
.iti--allow-dropdown input[disabled] + .iti__flag-container:hover .iti__selected-flag,
.iti--allow-dropdown input[readonly] + .iti__flag-container:hover .iti__selected-flag {
  background-color: transparent;
}
.iti--separate-dial-code .iti__selected-flag {
  background-color: rgba(0, 0, 0, 0.05);
}
.iti--separate-dial-code .iti__selected-dial-code {
  margin-left: 6px;
}
.iti--container {
  position: absolute;
  top: -1000px;
  left: -1000px;
  z-index: 1060;
  padding: 1px;
}
.iti--container:hover {
  cursor: pointer;
}
.iti-mobile .iti--container {
  top: 30px;
  bottom: 30px;
  left: 30px;
  right: 30px;
  position: fixed;
}
.iti-mobile .iti__country-list {
  max-height: 100%;
  width: 100%;
}
.iti-mobile .iti__country {
  padding: 10px 10px;
  line-height: 1.5em;
}
.iti__flag {
  width: 20px;
}
.iti__flag.iti__be {
  width: 18px;
}
.iti__flag.iti__ch {
  width: 15px;
}
.iti__flag.iti__mc {
  width: 19px;
}
.iti__flag.iti__ne {
  width: 18px;
}
.iti__flag.iti__np {
  width: 13px;
}
.iti__flag.iti__va {
  width: 15px;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-size: 5652px 15px;
  }
}
.iti__flag.iti__ac {
  height: 10px;
  background-position: 0px 0px;
}
.iti__flag.iti__ad {
  height: 14px;
  background-position: -22px 0px;
}
.iti__flag.iti__ae {
  height: 10px;
  background-position: -44px 0px;
}
.iti__flag.iti__af {
  height: 14px;
  background-position: -66px 0px;
}
.iti__flag.iti__ag {
  height: 14px;
  background-position: -88px 0px;
}
.iti__flag.iti__ai {
  height: 10px;
  background-position: -110px 0px;
}
.iti__flag.iti__al {
  height: 15px;
  background-position: -132px 0px;
}
.iti__flag.iti__am {
  height: 10px;
  background-position: -154px 0px;
}
.iti__flag.iti__ao {
  height: 14px;
  background-position: -176px 0px;
}
.iti__flag.iti__aq {
  height: 14px;
  background-position: -198px 0px;
}
.iti__flag.iti__ar {
  height: 13px;
  background-position: -220px 0px;
}
.iti__flag.iti__as {
  height: 10px;
  background-position: -242px 0px;
}
.iti__flag.iti__at {
  height: 14px;
  background-position: -264px 0px;
}
.iti__flag.iti__au {
  height: 10px;
  background-position: -286px 0px;
}
.iti__flag.iti__aw {
  height: 14px;
  background-position: -308px 0px;
}
.iti__flag.iti__ax {
  height: 13px;
  background-position: -330px 0px;
}
.iti__flag.iti__az {
  height: 10px;
  background-position: -352px 0px;
}
.iti__flag.iti__ba {
  height: 10px;
  background-position: -374px 0px;
}
.iti__flag.iti__bb {
  height: 14px;
  background-position: -396px 0px;
}
.iti__flag.iti__bd {
  height: 12px;
  background-position: -418px 0px;
}
.iti__flag.iti__be {
  height: 15px;
  background-position: -440px 0px;
}
.iti__flag.iti__bf {
  height: 14px;
  background-position: -460px 0px;
}
.iti__flag.iti__bg {
  height: 12px;
  background-position: -482px 0px;
}
.iti__flag.iti__bh {
  height: 12px;
  background-position: -504px 0px;
}
.iti__flag.iti__bi {
  height: 12px;
  background-position: -526px 0px;
}
.iti__flag.iti__bj {
  height: 14px;
  background-position: -548px 0px;
}
.iti__flag.iti__bl {
  height: 14px;
  background-position: -570px 0px;
}
.iti__flag.iti__bm {
  height: 10px;
  background-position: -592px 0px;
}
.iti__flag.iti__bn {
  height: 10px;
  background-position: -614px 0px;
}
.iti__flag.iti__bo {
  height: 14px;
  background-position: -636px 0px;
}
.iti__flag.iti__bq {
  height: 14px;
  background-position: -658px 0px;
}
.iti__flag.iti__br {
  height: 14px;
  background-position: -680px 0px;
}
.iti__flag.iti__bs {
  height: 10px;
  background-position: -702px 0px;
}
.iti__flag.iti__bt {
  height: 14px;
  background-position: -724px 0px;
}
.iti__flag.iti__bv {
  height: 15px;
  background-position: -746px 0px;
}
.iti__flag.iti__bw {
  height: 14px;
  background-position: -768px 0px;
}
.iti__flag.iti__by {
  height: 10px;
  background-position: -790px 0px;
}
.iti__flag.iti__bz {
  height: 14px;
  background-position: -812px 0px;
}
.iti__flag.iti__ca {
  height: 10px;
  background-position: -834px 0px;
}
.iti__flag.iti__cc {
  height: 10px;
  background-position: -856px 0px;
}
.iti__flag.iti__cd {
  height: 15px;
  background-position: -878px 0px;
}
.iti__flag.iti__cf {
  height: 14px;
  background-position: -900px 0px;
}
.iti__flag.iti__cg {
  height: 14px;
  background-position: -922px 0px;
}
.iti__flag.iti__ch {
  height: 15px;
  background-position: -944px 0px;
}
.iti__flag.iti__ci {
  height: 14px;
  background-position: -961px 0px;
}
.iti__flag.iti__ck {
  height: 10px;
  background-position: -983px 0px;
}
.iti__flag.iti__cl {
  height: 14px;
  background-position: -1005px 0px;
}
.iti__flag.iti__cm {
  height: 14px;
  background-position: -1027px 0px;
}
.iti__flag.iti__cn {
  height: 14px;
  background-position: -1049px 0px;
}
.iti__flag.iti__co {
  height: 14px;
  background-position: -1071px 0px;
}
.iti__flag.iti__cp {
  height: 14px;
  background-position: -1093px 0px;
}
.iti__flag.iti__cr {
  height: 12px;
  background-position: -1115px 0px;
}
.iti__flag.iti__cu {
  height: 10px;
  background-position: -1137px 0px;
}
.iti__flag.iti__cv {
  height: 12px;
  background-position: -1159px 0px;
}
.iti__flag.iti__cw {
  height: 14px;
  background-position: -1181px 0px;
}
.iti__flag.iti__cx {
  height: 10px;
  background-position: -1203px 0px;
}
.iti__flag.iti__cy {
  height: 14px;
  background-position: -1225px 0px;
}
.iti__flag.iti__cz {
  height: 14px;
  background-position: -1247px 0px;
}
.iti__flag.iti__de {
  height: 12px;
  background-position: -1269px 0px;
}
.iti__flag.iti__dg {
  height: 10px;
  background-position: -1291px 0px;
}
.iti__flag.iti__dj {
  height: 14px;
  background-position: -1313px 0px;
}
.iti__flag.iti__dk {
  height: 15px;
  background-position: -1335px 0px;
}
.iti__flag.iti__dm {
  height: 10px;
  background-position: -1357px 0px;
}
.iti__flag.iti__do {
  height: 14px;
  background-position: -1379px 0px;
}
.iti__flag.iti__dz {
  height: 14px;
  background-position: -1401px 0px;
}
.iti__flag.iti__ea {
  height: 14px;
  background-position: -1423px 0px;
}
.iti__flag.iti__ec {
  height: 14px;
  background-position: -1445px 0px;
}
.iti__flag.iti__ee {
  height: 13px;
  background-position: -1467px 0px;
}
.iti__flag.iti__eg {
  height: 14px;
  background-position: -1489px 0px;
}
.iti__flag.iti__eh {
  height: 10px;
  background-position: -1511px 0px;
}
.iti__flag.iti__er {
  height: 10px;
  background-position: -1533px 0px;
}
.iti__flag.iti__es {
  height: 14px;
  background-position: -1555px 0px;
}
.iti__flag.iti__et {
  height: 10px;
  background-position: -1577px 0px;
}
.iti__flag.iti__eu {
  height: 14px;
  background-position: -1599px 0px;
}
.iti__flag.iti__fi {
  height: 12px;
  background-position: -1621px 0px;
}
.iti__flag.iti__fj {
  height: 10px;
  background-position: -1643px 0px;
}
.iti__flag.iti__fk {
  height: 10px;
  background-position: -1665px 0px;
}
.iti__flag.iti__fm {
  height: 11px;
  background-position: -1687px 0px;
}
.iti__flag.iti__fo {
  height: 15px;
  background-position: -1709px 0px;
}
.iti__flag.iti__fr {
  height: 14px;
  background-position: -1731px 0px;
}
.iti__flag.iti__ga {
  height: 15px;
  background-position: -1753px 0px;
}
.iti__flag.iti__gb {
  height: 10px;
  background-position: -1775px 0px;
}
.iti__flag.iti__gd {
  height: 12px;
  background-position: -1797px 0px;
}
.iti__flag.iti__ge {
  height: 14px;
  background-position: -1819px 0px;
}
.iti__flag.iti__gf {
  height: 14px;
  background-position: -1841px 0px;
}
.iti__flag.iti__gg {
  height: 14px;
  background-position: -1863px 0px;
}
.iti__flag.iti__gh {
  height: 14px;
  background-position: -1885px 0px;
}
.iti__flag.iti__gi {
  height: 10px;
  background-position: -1907px 0px;
}
.iti__flag.iti__gl {
  height: 14px;
  background-position: -1929px 0px;
}
.iti__flag.iti__gm {
  height: 14px;
  background-position: -1951px 0px;
}
.iti__flag.iti__gn {
  height: 14px;
  background-position: -1973px 0px;
}
.iti__flag.iti__gp {
  height: 14px;
  background-position: -1995px 0px;
}
.iti__flag.iti__gq {
  height: 14px;
  background-position: -2017px 0px;
}
.iti__flag.iti__gr {
  height: 14px;
  background-position: -2039px 0px;
}
.iti__flag.iti__gs {
  height: 10px;
  background-position: -2061px 0px;
}
.iti__flag.iti__gt {
  height: 13px;
  background-position: -2083px 0px;
}
.iti__flag.iti__gu {
  height: 11px;
  background-position: -2105px 0px;
}
.iti__flag.iti__gw {
  height: 10px;
  background-position: -2127px 0px;
}
.iti__flag.iti__gy {
  height: 12px;
  background-position: -2149px 0px;
}
.iti__flag.iti__hk {
  height: 14px;
  background-position: -2171px 0px;
}
.iti__flag.iti__hm {
  height: 10px;
  background-position: -2193px 0px;
}
.iti__flag.iti__hn {
  height: 10px;
  background-position: -2215px 0px;
}
.iti__flag.iti__hr {
  height: 10px;
  background-position: -2237px 0px;
}
.iti__flag.iti__ht {
  height: 12px;
  background-position: -2259px 0px;
}
.iti__flag.iti__hu {
  height: 10px;
  background-position: -2281px 0px;
}
.iti__flag.iti__ic {
  height: 14px;
  background-position: -2303px 0px;
}
.iti__flag.iti__id {
  height: 14px;
  background-position: -2325px 0px;
}
.iti__flag.iti__ie {
  height: 10px;
  background-position: -2347px 0px;
}
.iti__flag.iti__il {
  height: 15px;
  background-position: -2369px 0px;
}
.iti__flag.iti__im {
  height: 10px;
  background-position: -2391px 0px;
}
.iti__flag.iti__in {
  height: 14px;
  background-position: -2413px 0px;
}
.iti__flag.iti__io {
  height: 10px;
  background-position: -2435px 0px;
}
.iti__flag.iti__iq {
  height: 14px;
  background-position: -2457px 0px;
}
.iti__flag.iti__ir {
  height: 12px;
  background-position: -2479px 0px;
}
.iti__flag.iti__is {
  height: 15px;
  background-position: -2501px 0px;
}
.iti__flag.iti__it {
  height: 14px;
  background-position: -2523px 0px;
}
.iti__flag.iti__je {
  height: 12px;
  background-position: -2545px 0px;
}
.iti__flag.iti__jm {
  height: 10px;
  background-position: -2567px 0px;
}
.iti__flag.iti__jo {
  height: 10px;
  background-position: -2589px 0px;
}
.iti__flag.iti__jp {
  height: 14px;
  background-position: -2611px 0px;
}
.iti__flag.iti__ke {
  height: 14px;
  background-position: -2633px 0px;
}
.iti__flag.iti__kg {
  height: 12px;
  background-position: -2655px 0px;
}
.iti__flag.iti__kh {
  height: 13px;
  background-position: -2677px 0px;
}
.iti__flag.iti__ki {
  height: 10px;
  background-position: -2699px 0px;
}
.iti__flag.iti__km {
  height: 12px;
  background-position: -2721px 0px;
}
.iti__flag.iti__kn {
  height: 14px;
  background-position: -2743px 0px;
}
.iti__flag.iti__kp {
  height: 10px;
  background-position: -2765px 0px;
}
.iti__flag.iti__kr {
  height: 14px;
  background-position: -2787px 0px;
}
.iti__flag.iti__kw {
  height: 10px;
  background-position: -2809px 0px;
}
.iti__flag.iti__ky {
  height: 10px;
  background-position: -2831px 0px;
}
.iti__flag.iti__kz {
  height: 10px;
  background-position: -2853px 0px;
}
.iti__flag.iti__la {
  height: 14px;
  background-position: -2875px 0px;
}
.iti__flag.iti__lb {
  height: 14px;
  background-position: -2897px 0px;
}
.iti__flag.iti__lc {
  height: 10px;
  background-position: -2919px 0px;
}
.iti__flag.iti__li {
  height: 12px;
  background-position: -2941px 0px;
}
.iti__flag.iti__lk {
  height: 10px;
  background-position: -2963px 0px;
}
.iti__flag.iti__lr {
  height: 11px;
  background-position: -2985px 0px;
}
.iti__flag.iti__ls {
  height: 14px;
  background-position: -3007px 0px;
}
.iti__flag.iti__lt {
  height: 12px;
  background-position: -3029px 0px;
}
.iti__flag.iti__lu {
  height: 12px;
  background-position: -3051px 0px;
}
.iti__flag.iti__lv {
  height: 10px;
  background-position: -3073px 0px;
}
.iti__flag.iti__ly {
  height: 10px;
  background-position: -3095px 0px;
}
.iti__flag.iti__ma {
  height: 14px;
  background-position: -3117px 0px;
}
.iti__flag.iti__mc {
  height: 15px;
  background-position: -3139px 0px;
}
.iti__flag.iti__md {
  height: 10px;
  background-position: -3160px 0px;
}
.iti__flag.iti__me {
  height: 10px;
  background-position: -3182px 0px;
}
.iti__flag.iti__mf {
  height: 14px;
  background-position: -3204px 0px;
}
.iti__flag.iti__mg {
  height: 14px;
  background-position: -3226px 0px;
}
.iti__flag.iti__mh {
  height: 11px;
  background-position: -3248px 0px;
}
.iti__flag.iti__mk {
  height: 10px;
  background-position: -3270px 0px;
}
.iti__flag.iti__ml {
  height: 14px;
  background-position: -3292px 0px;
}
.iti__flag.iti__mm {
  height: 14px;
  background-position: -3314px 0px;
}
.iti__flag.iti__mn {
  height: 10px;
  background-position: -3336px 0px;
}
.iti__flag.iti__mo {
  height: 14px;
  background-position: -3358px 0px;
}
.iti__flag.iti__mp {
  height: 10px;
  background-position: -3380px 0px;
}
.iti__flag.iti__mq {
  height: 14px;
  background-position: -3402px 0px;
}
.iti__flag.iti__mr {
  height: 14px;
  background-position: -3424px 0px;
}
.iti__flag.iti__ms {
  height: 10px;
  background-position: -3446px 0px;
}
.iti__flag.iti__mt {
  height: 14px;
  background-position: -3468px 0px;
}
.iti__flag.iti__mu {
  height: 14px;
  background-position: -3490px 0px;
}
.iti__flag.iti__mv {
  height: 14px;
  background-position: -3512px 0px;
}
.iti__flag.iti__mw {
  height: 14px;
  background-position: -3534px 0px;
}
.iti__flag.iti__mx {
  height: 12px;
  background-position: -3556px 0px;
}
.iti__flag.iti__my {
  height: 10px;
  background-position: -3578px 0px;
}
.iti__flag.iti__mz {
  height: 14px;
  background-position: -3600px 0px;
}
.iti__flag.iti__na {
  height: 14px;
  background-position: -3622px 0px;
}
.iti__flag.iti__nc {
  height: 10px;
  background-position: -3644px 0px;
}
.iti__flag.iti__ne {
  height: 15px;
  background-position: -3666px 0px;
}
.iti__flag.iti__nf {
  height: 10px;
  background-position: -3686px 0px;
}
.iti__flag.iti__ng {
  height: 10px;
  background-position: -3708px 0px;
}
.iti__flag.iti__ni {
  height: 12px;
  background-position: -3730px 0px;
}
.iti__flag.iti__nl {
  height: 14px;
  background-position: -3752px 0px;
}
.iti__flag.iti__no {
  height: 15px;
  background-position: -3774px 0px;
}
.iti__flag.iti__np {
  height: 15px;
  background-position: -3796px 0px;
}
.iti__flag.iti__nr {
  height: 10px;
  background-position: -3811px 0px;
}
.iti__flag.iti__nu {
  height: 10px;
  background-position: -3833px 0px;
}
.iti__flag.iti__nz {
  height: 10px;
  background-position: -3855px 0px;
}
.iti__flag.iti__om {
  height: 10px;
  background-position: -3877px 0px;
}
.iti__flag.iti__pa {
  height: 14px;
  background-position: -3899px 0px;
}
.iti__flag.iti__pe {
  height: 14px;
  background-position: -3921px 0px;
}
.iti__flag.iti__pf {
  height: 14px;
  background-position: -3943px 0px;
}
.iti__flag.iti__pg {
  height: 15px;
  background-position: -3965px 0px;
}
.iti__flag.iti__ph {
  height: 10px;
  background-position: -3987px 0px;
}
.iti__flag.iti__pk {
  height: 14px;
  background-position: -4009px 0px;
}
.iti__flag.iti__pl {
  height: 13px;
  background-position: -4031px 0px;
}
.iti__flag.iti__pm {
  height: 14px;
  background-position: -4053px 0px;
}
.iti__flag.iti__pn {
  height: 10px;
  background-position: -4075px 0px;
}
.iti__flag.iti__pr {
  height: 14px;
  background-position: -4097px 0px;
}
.iti__flag.iti__ps {
  height: 10px;
  background-position: -4119px 0px;
}
.iti__flag.iti__pt {
  height: 14px;
  background-position: -4141px 0px;
}
.iti__flag.iti__pw {
  height: 13px;
  background-position: -4163px 0px;
}
.iti__flag.iti__py {
  height: 11px;
  background-position: -4185px 0px;
}
.iti__flag.iti__qa {
  height: 8px;
  background-position: -4207px 0px;
}
.iti__flag.iti__re {
  height: 14px;
  background-position: -4229px 0px;
}
.iti__flag.iti__ro {
  height: 14px;
  background-position: -4251px 0px;
}
.iti__flag.iti__rs {
  height: 14px;
  background-position: -4273px 0px;
}
.iti__flag.iti__ru {
  height: 14px;
  background-position: -4295px 0px;
}
.iti__flag.iti__rw {
  height: 14px;
  background-position: -4317px 0px;
}
.iti__flag.iti__sa {
  height: 14px;
  background-position: -4339px 0px;
}
.iti__flag.iti__sb {
  height: 10px;
  background-position: -4361px 0px;
}
.iti__flag.iti__sc {
  height: 10px;
  background-position: -4383px 0px;
}
.iti__flag.iti__sd {
  height: 10px;
  background-position: -4405px 0px;
}
.iti__flag.iti__se {
  height: 13px;
  background-position: -4427px 0px;
}
.iti__flag.iti__sg {
  height: 14px;
  background-position: -4449px 0px;
}
.iti__flag.iti__sh {
  height: 10px;
  background-position: -4471px 0px;
}
.iti__flag.iti__si {
  height: 10px;
  background-position: -4493px 0px;
}
.iti__flag.iti__sj {
  height: 15px;
  background-position: -4515px 0px;
}
.iti__flag.iti__sk {
  height: 14px;
  background-position: -4537px 0px;
}
.iti__flag.iti__sl {
  height: 14px;
  background-position: -4559px 0px;
}
.iti__flag.iti__sm {
  height: 15px;
  background-position: -4581px 0px;
}
.iti__flag.iti__sn {
  height: 14px;
  background-position: -4603px 0px;
}
.iti__flag.iti__so {
  height: 14px;
  background-position: -4625px 0px;
}
.iti__flag.iti__sr {
  height: 14px;
  background-position: -4647px 0px;
}
.iti__flag.iti__ss {
  height: 10px;
  background-position: -4669px 0px;
}
.iti__flag.iti__st {
  height: 10px;
  background-position: -4691px 0px;
}
.iti__flag.iti__sv {
  height: 12px;
  background-position: -4713px 0px;
}
.iti__flag.iti__sx {
  height: 14px;
  background-position: -4735px 0px;
}
.iti__flag.iti__sy {
  height: 14px;
  background-position: -4757px 0px;
}
.iti__flag.iti__sz {
  height: 14px;
  background-position: -4779px 0px;
}
.iti__flag.iti__ta {
  height: 10px;
  background-position: -4801px 0px;
}
.iti__flag.iti__tc {
  height: 10px;
  background-position: -4823px 0px;
}
.iti__flag.iti__td {
  height: 14px;
  background-position: -4845px 0px;
}
.iti__flag.iti__tf {
  height: 14px;
  background-position: -4867px 0px;
}
.iti__flag.iti__tg {
  height: 13px;
  background-position: -4889px 0px;
}
.iti__flag.iti__th {
  height: 14px;
  background-position: -4911px 0px;
}
.iti__flag.iti__tj {
  height: 10px;
  background-position: -4933px 0px;
}
.iti__flag.iti__tk {
  height: 10px;
  background-position: -4955px 0px;
}
.iti__flag.iti__tl {
  height: 10px;
  background-position: -4977px 0px;
}
.iti__flag.iti__tm {
  height: 14px;
  background-position: -4999px 0px;
}
.iti__flag.iti__tn {
  height: 14px;
  background-position: -5021px 0px;
}
.iti__flag.iti__to {
  height: 10px;
  background-position: -5043px 0px;
}
.iti__flag.iti__tr {
  height: 14px;
  background-position: -5065px 0px;
}
.iti__flag.iti__tt {
  height: 12px;
  background-position: -5087px 0px;
}
.iti__flag.iti__tv {
  height: 10px;
  background-position: -5109px 0px;
}
.iti__flag.iti__tw {
  height: 14px;
  background-position: -5131px 0px;
}
.iti__flag.iti__tz {
  height: 14px;
  background-position: -5153px 0px;
}
.iti__flag.iti__ua {
  height: 14px;
  background-position: -5175px 0px;
}
.iti__flag.iti__ug {
  height: 14px;
  background-position: -5197px 0px;
}
.iti__flag.iti__um {
  height: 11px;
  background-position: -5219px 0px;
}
.iti__flag.iti__un {
  height: 14px;
  background-position: -5241px 0px;
}
.iti__flag.iti__us {
  height: 11px;
  background-position: -5263px 0px;
}
.iti__flag.iti__uy {
  height: 14px;
  background-position: -5285px 0px;
}
.iti__flag.iti__uz {
  height: 10px;
  background-position: -5307px 0px;
}
.iti__flag.iti__va {
  height: 15px;
  background-position: -5329px 0px;
}
.iti__flag.iti__vc {
  height: 14px;
  background-position: -5346px 0px;
}
.iti__flag.iti__ve {
  height: 14px;
  background-position: -5368px 0px;
}
.iti__flag.iti__vg {
  height: 10px;
  background-position: -5390px 0px;
}
.iti__flag.iti__vi {
  height: 14px;
  background-position: -5412px 0px;
}
.iti__flag.iti__vn {
  height: 14px;
  background-position: -5434px 0px;
}
.iti__flag.iti__vu {
  height: 12px;
  background-position: -5456px 0px;
}
.iti__flag.iti__wf {
  height: 14px;
  background-position: -5478px 0px;
}
.iti__flag.iti__ws {
  height: 10px;
  background-position: -5500px 0px;
}
.iti__flag.iti__xk {
  height: 15px;
  background-position: -5522px 0px;
}
.iti__flag.iti__ye {
  height: 14px;
  background-position: -5544px 0px;
}
.iti__flag.iti__yt {
  height: 14px;
  background-position: -5566px 0px;
}
.iti__flag.iti__za {
  height: 14px;
  background-position: -5588px 0px;
}
.iti__flag.iti__zm {
  height: 14px;
  background-position: -5610px 0px;
}
.iti__flag.iti__zw {
  height: 10px;
  background-position: -5632px 0px;
}
.iti__flag {
  height: 15px;
  box-shadow: 0px 0px 1px 0px #888;
  background-image: url("/img/flags.png");
  background-repeat: no-repeat;
  background-color: #DBDBDB;
  background-position: 20px 0;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {
    background-image: url("/img/flags@2x.png");
  }
}
.iti__flag.iti__np {
  background-color: transparent;
}
* {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
.wrapper {
  width: 100%;
  overflow: hidden;
}
body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
  font-family: Agipo, sans-serif;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
a {
  background: transparent;
  text-decoration: none;
  color: inherit;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  background: none;
  border: none;
  border-radius: 0;
  -webkit-appearance: none;
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  resize: vertical;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
ul {
  list-style: none;
}
/*
 * Blocks
 *
 * Here you include all of your main modules
 * which builds up your structure like
 * header, content, footer, e.t.c
 */
.nav {
  padding-top: 10px;
  padding-bottom: 10px;
  background: #FFFFFF;
}
.nav__logo {
  margin-right: 20px;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 20px;
}
.nav__links {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  line-height: 42px;
  text-transform: uppercase;
  color: #000000;
}
.nav__links a {
  position: relative;
  margin-left: 1.5vw;
}
.nav__links a::after {
  content: '';
  display: block;
  height: 2px;
  background: #99FF1D;
  position: absolute;
  bottom: -10px;
  left: 0;
  transition: 0.2s all ease-out;
}
.nav__links a:not(.active)::after {
  width: 0px;
}
.nav__links a:hover:after {
  width: 36px;
}
.nav__profile {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding-left: 40px;
}
.nav__profile #profile {
  vertical-align: middle;
}
.nav__lang {
  display: inline-block;
  font-size: 13px;
  vertical-align: middle;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 0px 4px 150px rgba(0, 0, 0, 0.25);
}
.nav__lang a {
  padding-left: 8px;
}
.menu {
  width: 282px;
  height: 100%;
  z-index: 20;
  padding: 25px 0 25px 20px;
  background: #FFFFFF;
  box-shadow: 0px 4px 75px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: -280px;
  transition: 0.5s ease all;
}
.menu .hamburger {
  vertical-align: middle;
  position: absolute;
  right: 0;
}
.menu .logo {
  margin-right: 30px;
  vertical-align: middle;
}
.menu__profile {
  padding-top: 50px;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 0px 4px 150px rgba(0, 0, 0, 0.25);
}
.menu__profile img {
  vertical-align: middle;
  margin-right: 10px;
}
.menu__lang {
  margin-top: 30px;
  position: absolute;
  bottom: 20px;
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  text-shadow: 0px 4px 150px rgba(0, 0, 0, 0.25);
}
.menu__lang a {
  padding-right: 25px;
}
.menu__links {
  padding-top: 50px;
}
.menu__links li {
  font-size: 15px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 15px;
  text-shadow: 0px 4px 150px rgba(0, 0, 0, 0.25);
}
.is-open {
  transform: translateX(280px);
}
.modal {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(255, 255, 255, 0.5);
  overflow-y: hidden;
}
.is-show {
  display: block !important;
}
.auth {
  text-align: left;
  display: none;
  width: 535px;
  background: #FFFFFF;
  box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.1);
  position: absolute;
  z-index: 30;
  top: -40px;
  right: -35px;
  padding-top: 40px;
  padding-left: 20px;
  padding-right: 20px;
}
.auth__title {
  font-weight: 900;
  padding-top: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #99FF1D;
}
.auth__remember {
  display: block;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  opacity: 0.5;
}
.auth .content__btn {
  margin: 30px 0 30px 0 ;
}
.auth label {
  display: block;
  padding-top: 40px;
  font-weight: 900;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000;
}
.auth input {
  width: 100%;
  height: 50px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  border-bottom: 1px #D5DBE5 solid;
}
.authorize {
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
}
.authorize__title {
  font-weight: 900;
  padding-top: 8px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #99FF1D;
}
.authorize__remember {
  display: block;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  opacity: 0.5;
}
.authorize .content__btn {
  margin: 30px 0 30px 0 ;
}
.authorize label {
  display: block;
  padding-top: 40px;
  font-weight: 900;
  font-size: 11px;
  line-height: 13px;
  text-transform: uppercase;
  color: #000000;
}
.authorize input {
  width: 100%;
  height: 50px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  border-bottom: 1px #D5DBE5 solid;
}
.auth-modal {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  z-index: 5;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.23);
  overflow-y: hidden;
}
.active::after {
  width: 50%;
}
.content {
  padding-top: 80px;
  padding-bottom: 80px;
}
.content__partners {
  padding-top: 30px;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.content__partners--block {
  align-items: center;
  width: 310px;
  height: 160px;
  justify-content: center;
  display: flex;
  margin: 0 20px 20px;
  border: 1px rgba(0, 0, 0, 0.5) solid;
  background: white;
}
.content__partners--block:hover img {
  -webkit-filter: none;
          filter: none;
}
.content__partners--block img {
  height: 70px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: 0.2s all ease-out;
}
.content__social {
  padding-top: 160px;
  font-weight: 900;
  font-size: 10px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.content__social a {
  padding-left: 40px;
}
.content__social a img {
  vertical-align: middle;
}
.content__btn {
  font-size: 18px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 8px 0;
  background: #F000FF;
  background-size: 100% 100%;
  width: 300px;
}
.content__title {
  font-weight: 900;
  font-size: 40px;
  margin: 0 20px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
}
.content__title::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: -5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: black;
}
.content__timer {
  margin-top: 20px;
  margin-bottom: 70px;
  width: 100%;
  text-align: center;
}
.content__timer--padding {
  display: inline-block;
  padding-left: 40px;
}
.content__timer--padding .counter {
  background: blue;
  color: white;
  display: inline-block;
  padding: 0 20px;
  font-weight: bold;
  font-size: 150px;
  text-align: center;
  text-transform: uppercase;
}
.content__timer--padding .counter p {
  color: black;
}
.content__slider {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.content__slider--item {
  display: inline-block;
  position: relative;
  margin: 0 20px;
}
.content__slider--item .inside {
  padding-top: 10px;
  padding-bottom: 140px;
  background: linear-gradient(180deg, #FEFC06 0%, #FFFFFF 100%);
}
.content__slider--item .inside-image {
  position: relative;
}
.content__slider--item b {
  font-weight: 900;
  font-size: 42px;
  line-height: 51px;
  text-transform: uppercase;
}
.content__slider--item p {
  font-style: normal;
  font-weight: 900;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
}
.content__slider--item img {
  display: block;
  width: 100%;
  position: relative;
}
.content__slider--item img::after {
  content: '';
}
.content__interesting {
  margin-top: 100px;
  background: transparent;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.content__interesting--column {
  flex-basis: 360px;
  box-shadow: 20px 20px 200px rgba(0, 0, 0, 0.1);
  background: white;
}
.content__interesting--column img {
  display: block;
}
.content__interesting--column .bottom {
  background: white;
  position: relative;
}
.content__interesting--column .bottom::after {
  content: '';
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  height: 70px;
  background: url("/img/info.svg") center no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
.content__interesting--column .top {
  background: white;
  position: relative;
}
.content__interesting--column .top::before {
  content: '';
  z-index: 5;
  display: inline-block;
  position: absolute;
  top: 0px;
  left: 0;
  right: 0;
  height: 70px;
  background: url("/img/info-reverse.svg") center no-repeat;
  background-size: 100% 100%;
  width: 100%;
}
.content__interesting--column .info {
  height: 290px;
  text-align: left;
  padding: 0 30px;
}
.content__interesting--column .info b {
  padding-top: 20px;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #000000;
  line-height: 30px;
  display: block;
}
.content__interesting--column .info p {
  padding-top: 15px;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 26px;
  color: #000000;
}
.slider {
  width: 100%;
  position: relative;
}
.slider-nav {
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
}
.slider__text {
  font-weight: 600;
  line-height: normal;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  color: #1B1B1B;
  background: url(/img/slideback.svg) center no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  padding: 15px 30px;
  margin-top: 170px;
}
.slider__title {
  margin-top: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: white;
}
.slider__date {
  color: white;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 11px;
  margin-top: 130px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  opacity: 0.75;
}
.slider__inner {
  background: url(/img/slide.jpg) center no-repeat;
  background-size: cover;
}
.rest-nav {
  width: 100%;
  padding: 10px 0;
}
.rest-nav__p {
  font-weight: 600;
  line-height: 17px;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.rest-nav__img {
  width: 80%;
}
.rest-nav__inner {
  text-align: center;
}
.rest-list {
  width: 100%;
}
.rest-list__inner {
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 11px;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #333333;
  position: relative;
  padding: 10px 0 20px;
}
.rest-list .active {
  color: #49B05F;
}
.rest-list .active::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%, 0);
  height: 3px;
  width: 50px;
  background: linear-gradient(90deg, #BEF587 0%, #70E78A 100%);
}
.about {
  padding-top: 200px;
}
.about__runners {
  padding-bottom: 200px;
}
.about--info {
  padding-top: 60px;
  padding-bottom: 100px;
}
.about--info-top {
  padding-top: 70px;
  padding-bottom: 60px;
}
.about--info-left h3 {
  font-weight: 900;
  font-size: 28px;
  color: #000000;
}
.about--info-left p {
  padding-top: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.about--info-left p a {
  text-decoration: underline;
  text-underline-color: black;
}
.about--info-left b {
  color: #000000;
  font-weight: bold;
}
.about--info-left b a {
  color: blue;
}
.about--info-right {
  position: relative;
  background: #FFFFFF;
}
.about--info-right h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 28px;
  color: #000000;
  border-bottom: 1px black solid;
}
.about--info-right h3:not(:first-child) {
  padding-top: 50px;
}
.about--info-right p {
  padding-top: 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
}
.about--info-right p b {
  font-weight: normal;
  text-transform: uppercase;
}
.about--info-right p a {
  color: black;
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}
.about__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about__wrapper--item {
  position: relative;
  display: inline-block;
}
.about__summary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about__blocks {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.about__blocks .block {
  margin-top: 20px;
  width: 300px;
  padding: 30px;
  background: #E7E7E7;
}
.about__blocks .block .time {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px black solid;
}
.about__blocks .block p {
  padding-top: 30px;
  text-transform: uppercase;
  color: #202020;
}
.about__blocks .active {
  background: #BEFF70;
}
.about__program a {
  margin: 0 10px;
  padding: 3px 5px;
  text-transform: uppercase;
  color: #202020;
  font-weight: bold;
}
.about__program .active {
  background: #9CFE25;
}
.about__table {
  margin-top: 90px;
  margin-bottom: 90px;
  width: 100%;
}
.about__table tr:first-child {
  background: #000000;
  color: white;
  font-weight: bold;
}
.about__table tr {
  text-transform: uppercase;
}
.about__table tr td {
  padding: 10px 10px;
}
.about__information--table {
  margin-top: 50px;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.08);
}
.about__information--table .title {
  background: #000000;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.about__information--table .info {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}
.about__information--table .info .right {
  text-transform: uppercase;
  color: #000000;
}
.about__information--table .info:not(:last-child) {
  border-bottom: 1px #EAEAEA solid;
}
.about__information--title {
  padding-top: 40px;
  font-size: 26px;
  text-transform: uppercase;
  color: #000000;
}
.about__information ul a {
  display: block;
  padding: 0px;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 15px;
}
.about__information ul a:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}
.about__information ul .active {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}
.register {
  width: 100%;
  background-size: cover;
  background-position: top;
}
.register__title {
  background: #B3FB54;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 140px;
}
.register__change {
  padding-top: 90px;
  font-weight: 900;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
.register__success .img {
  margin-top: 100px;
  margin-bottom: 50px;
}
.register__success--btn {
  display: block;
  height: 46px;
  background: #F000FF;
  background-size: 100% 100%;
  font-style: normal;
  font-weight: 900;
  font-size: 13px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 120px;
}
.register__success--h3 {
  font-style: normal;
  font-weight: 900;
  font-size: 40px;
  line-height: 49px;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.register__success--p {
  max-width: 480px;
  margin: 40px auto 40px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #000000;
}
.register__payment {
  padding-top: 60px;
}
.register__payment .flexer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 15px;
  justify-content: space-between;
}
.register__payment .flexer img {
  margin: 15px 15px;
}
.register__payment--text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  opacity: 0.7;
  padding-bottom: 40px;
}
.register__info {
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px #EAEEF3 solid;
  display: flex;
  align-items: center;
}
.register__info .left {
  flex-basis: 90px;
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #000000;
  opacity: 0.75;
}
.register__info .right {
  flex-basis: 160px;
  font-style: normal;
  font-size: 14px;
  text-align: right;
  color: #000000;
}
.register__btn {
  display: block;
  width: 290px;
  height: 46px;
  background: url("/img/black.svg") center no-repeat;
  background-size: 100% 100%;
  font-style: normal;
  font-weight: 900;
  margin-top: 60px;
  font-size: 13px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 50px;
}
.register__price {
  font-style: normal;
  font-weight: 900;
  font-size: 34px;
  line-height: 30px;
  text-transform: uppercase;
  color: #B3FB54;
}
.register__right {
  padding-top: 30px;
  padding-bottom: 40px;
  text-align: left;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  max-width: 240px;
  line-height: 20px;
  text-transform: uppercase;
  color: #000000;
}
.register .whitespace {
  background: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
}
.register .whitespace-right {
  text-align: left;
  background: #ffffff;
}
.register .agreement {
  padding-top: 30px;
}
.register .agreement input {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  height: auto;
}
.register .agreement label {
  display: inline-block !important;
}
.register .agreement label a {
  color: blue;
}
.register .agreement .information {
  padding-top: 5px;
  padding-left: 25px;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
}
.register .agreement .information-big {
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 15px;
  color: #000000;
  padding-left: 5px;
  padding-top: 5px;
  width: 80%;
  vertical-align: top;
}
.register .distance {
  padding-bottom: 40px;
}
.register .distance input[type='radio'] {
  display: none;
}
.register .distance label {
  display: inline-block;
  width: 280px;
  height: 100px;
  color: black;
  line-height: 100px;
  cursor: pointer;
}
.register .distance label:nth-of-type(1) {
  background: #E3FDB8;
}
.register .distance label:nth-of-type(2) {
  background: #B3FB54;
}
.register .distance label:nth-of-type(3) {
  background: #CBFC7F;
}
.register .distance label b {
  font-style: normal;
  font-size: 24px;
  padding-left: 20px;
  vertical-align: middle;
  text-transform: uppercase;
}
.register .distance label span {
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  vertical-align: middle;
  padding-left: 50px;
  text-align: right;
  text-transform: uppercase;
}
.register .distance input:checked + label {
  background: lightgreen;
}
.register__distance {
  padding-top: 60px;
  padding-bottom: 60px;
  font-style: normal;
  font-weight: 900;
  font-size: 22px;
  text-transform: uppercase;
  color: #000000;
}
.register__form .flexy {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
.register__form .flexy a {
  display: inline-block;
  flex: 1;
  margin: 0 10px;
  height: 500px;
  text-align: center;
  box-shadow: 0px 4px 150px rgba(0, 0, 0, 0.1);
}
.register__form .flexy a img {
  width: 200px;
  margin-bottom: 20px;
  margin-top: 200px;
}
.register__form .flexy a span {
  display: block;
}
.register__form--raw {
  padding-top: 50px;
}
.register__form--raw #gender1,
.register__form--raw #gender2 {
  width: auto !important;
  vertical-align: middle;
}
.register__form--raw .disable {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  background: #D5DBE5;
  border-bottom: 1px #D5DBE5 solid;
}
.register__form .info {
  padding-top: 20px;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}
.register__form .title {
  font-style: normal;
  font-size: 14px;
  text-transform: uppercase;
  color: #000000;
  display: block;
}
.register__form input,
.register__form select {
  width: 100%;
  height: 50px;
  border: none;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #000000;
  border-bottom: 1px #D5DBE5 solid;
}
.register__status {
  border-bottom: 1px #B0B0B0 solid;
}
.register__status--wrapper {
  display: inline-block;
  width: 31%;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 30px 0;
  position: relative;
}
.register__status--wrapper:nth-child(1)::after {
  left: -40px;
}
.register__status--wrapper:nth-child(2)::after {
  left: 50%;
  transform: translate(-50%, 0);
}
.register__status--wrapper:nth-child(3)::after {
  right: 0;
}
.register__status .active {
  font-weight: bold;
  color: #000000;
}
.register__status .active::after {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 180px;
  height: 2px;
  background: #E7FECA;
}
.profile-right {
  margin-top: 50px;
  border: 10px #BEFF70 solid;
}
.profile-right__info {
  text-align: left;
  padding-bottom: 10px;
  margin: 15px 20px 10px;
}
.profile-right__info:not(:last-child) {
  border-bottom: 1px black solid;
}
.profile-right__info .left {
  font-size: 15px;
  text-transform: uppercase;
}
.profile-right__info .right {
  text-transform: uppercase;
  color: #172032;
  font-size: 22px;
  font-weight: bold;
}
.profile-right__title {
  background: #99FF1D;
  font-size: 16px;
  padding: 10px 0px 20px;
  text-transform: uppercase;
  color: black;
  font-weight: bold;
}
.main {
  width: 100%;
  background: url(/img/newback.png) top no-repeat;
  background-size: cover;
  padding-top: 80px;
  padding-bottom: 50px;
  color: #FFFFFF;
  text-align: center;
}
.main__about {
  padding-top: 350px;
  font-weight: 900;
  font-size: 70px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 50px 50px 150px rgba(0, 0, 0, 0.25);
}
.main__title {
  color: black;
  font-weight: bold;
  font-size: 150px;
  line-height: 120px;
  text-align: center;
  text-transform: uppercase;
}
.main__title img {
  width: 100%;
  max-width: 800px;
}
.main__info {
  padding-top: 50px;
}
.main__info--time {
  display: inline-block;
  font-weight: 900;
  font-size: 70px;
  vertical-align: middle;
  text-transform: uppercase;
}
.main__info--distance {
  padding-left: 30px;
  display: inline-block;
  vertical-align: middle;
  font-weight: 900;
  font-size: 30px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.main__register {
  width: 300px;
  font-size: 18px;
  margin-top: 50px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 8px 0px;
  background: #F000FF;
  background-size: 100% 100%;
}
.main__logout {
  width: 300px;
  font-size: 18px;
  margin-top: 50px;
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  color: white;
  padding: 8px 0px;
  background: #000000;
  background-size: 100% 100%;
}
.info__interesting--title {
  font-weight: 900;
  font-size: 28px;
  line-height: 50px;
  text-align: left;
  padding-top: 100px;
  text-transform: uppercase;
  color: #000000;
}
.info__interesting--text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 32px;
  padding-top: 70px;
  color: #000000;
  text-align: left;
}
.info__interesting--text .date {
  color: rgba(45, 53, 68, 0.75);
  font-size: 12px;
}
.info__wrapper {
  padding-top: 190px;
}
.info__wrapper--text {
  font-weight: 800;
  font-size: 13px;
  line-height: 200px;
  text-transform: uppercase;
  color: #000000;
}
.info__wrapper--text img {
  vertical-align: middle;
}
.info__wrapper--phone {
  position: relative;
  font-weight: normal;
  font-size: 70px;
  line-height: 100px;
  text-transform: uppercase;
  color: #000000;
}
.info__wrapper--phone img {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  top: -60px;
}
.filter__title {
  padding: 20px 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  font-size: 15px;
  color: #3F3F48;
}
.filter__info {
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  color: #3F3F48;
  padding: 0 20px 10px;
}
.filter__range {
  padding: 0 20px 50px;
  padding-bottom: 50px;
  border-bottom: 1px #E1EAEC solid;
}
.finder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 80px;
  padding-top: 15px;
  background: white;
}
.contacts {
  padding-bottom: 100px;
}
.contacts__title {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 120px;
  text-align: center;
  color: #000000;
  background: url("/img/contact_back.png") center no-repeat;
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 30px;
}
.contacts__info {
  padding-top: 100px;
  font-size: 16px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}
.contacts__number {
  padding-top: 20px;
  font-size: 50px;
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  text-align: left;
  padding-bottom: 10px;
  border-bottom: 1px #000000 solid;
}
.contacts__bottom {
  text-align: left;
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}
.contacts__bottom .right {
  font-size: 16px;
  color: #000000;
}
.contacts__bottom .right a {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}
.contacts__bottom .left {
  font-size: 16px;
  color: #000000;
  vertical-align: middle;
}
.contacts__bottom .left:hover {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}
.contacts__bottom img {
  vertical-align: middle;
  margin-right: 5px;
}
.inner {
  padding-top: 80px;
}
.inner__info {
  padding-top: 70px;
  padding-bottom: 160px;
}
.inner__info .img {
  width: 80%;
}
.inner__info--title {
  font-weight: 900;
  font-size: 30px;
  line-height: 50px;
  text-transform: uppercase;
  color: #000000;
  padding-bottom: 20px;
}
.inner__info--text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 32px;
  color: #000000;
}
.inner__wrapper {
  padding-top: 80px;
  padding-bottom: 100px;
}
.inner__wrapper--date {
  padding-top: 50px;
}
.inner__wrapper--date b {
  font-weight: 800;
  font-size: 60px;
  text-transform: uppercase;
  color: #000000;
}
.inner__wrapper--date p {
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: #000000;
  opacity: 0.5;
}
.inner__wrapper--text {
  font-weight: normal;
  font-size: 38px;
  line-height: 70px;
  text-transform: uppercase;
  color: #000000;
  text-align: left;
}
.site-bottom {
  width: 100%;
  background: #99FF1D;
  color: black;
  background-size: cover;
}
.site-bottom__title {
  padding-top: 40px;
  padding-bottom: 150px;
  max-width: 700px;
  font-weight: bold;
  font-size: 90px;
  line-height: 85px;
  text-transform: uppercase;
}
.footer {
  background: white;
  padding: 30px 0;
}
.footer .mailed {
  text-decoration: underline;
  -webkit-text-decoration-color: black;
          text-decoration-color: black;
}
.footer__socials a {
  padding: 0 15px;
}
.footer__socials a:hover img {
  -webkit-filter: none;
          filter: none;
}
.footer__socials a img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: 0.2s all ease-out;
}
.basket__title {
  padding: 34px 0;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
  border-bottom: 1px solid #ededed;
}
.basket__title img {
  vertical-align: middle;
  margin: 0 20px;
  width: 43px;
}
.basket__title h2 {
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  font-style: normal;
  font-weight: normal;
  line-height: 37px;
  font-size: 26px;
  letter-spacing: 0.15em;
  display: inline-block;
}
.basket-back {
  padding: 60px 0;
  background: #F1F8F8;
}
.rest {
  padding: 20px;
}
.rest--info {
  display: inline-block;
  padding-left: 20px;
  vertical-align: middle;
}
.rest--img {
  width: 60px;
  vertical-align: middle;
}
.rest__name {
  text-transform: uppercase;
  font-style: normal;
  font-weight: bold;
  letter-spacing: 0.3em;
  vertical-align: middle;
}
.rest__type {
  font-style: normal;
  font-weight: normal;
  line-height: 21px;
  font-size: 15px;
  color: rgba(63, 63, 72, 0.75);
}
.rest__delivery {
  vertical-align: middle;
}
.rest__delivery--wrap {
  width: 46px;
  height: 46px;
  vertical-align: middle;
  background: #C2F62C;
  line-height: 46px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
}
.rest__delivery--wrap img {
  vertical-align: middle;
  width: 23px;
}
.rest__delivery p {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  color: #3f3f48;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 15px;
}
.rest__location {
  vertical-align: middle;
}
.rest__location img {
  height: 46px;
  display: inline-block;
  vertical-align: middle;
}
.rest__location p {
  margin-left: 5px;
  display: inline-block;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 15px;
  color: #3f3f48;
}
.small-show {
  display: none;
}
.item {
  padding: 30px;
  background: white;
  border-bottom: 1px #EDEDED solid;
  transition: 0.1s all ease-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}
.item .delete img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.item__checkout {
  padding: 30px;
  background: white;
  border-bottom: 1px #EDEDED solid;
  transition: 0.1s all ease-out;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03);
}
.item__checkout--info {
  border-bottom: 1px #E2E2E2 solid;
  padding-bottom: 10px;
  position: relative;
}
.item__checkout--info .button {
  margin-right: 15px;
  margin-top: 10px;
  padding: 8px 10px;
  border-radius: 10px;
  border: 1px #E2E2E2 solid;
}
.item__checkout--info .active {
  background: #e9fde2;
  color: #31ba00;
  border: none;
}
.item__checkout--info img {
  position: absolute;
  right: 10px;
  top: 10px;
}
.item__checkout--info .input {
  font-family: Rubik;
  width: 400px;
  font-size: 13px;
  border: none;
  background: white;
  padding: 10px 0px 0px 10px;
}
.item__checkout--info textarea {
  font-family: Rubik;
  width: 400px;
  font-size: 13px;
  border: none;
  padding: 10px 0px 0px 10px;
  resize: none;
}
.item:hover {
  transform: scale(1.03);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.07);
}
.item * {
  vertical-align: middle;
}
.item__wrapped {
  display: inline-block;
}
.item__text {
  display: inline-block;
  width: 35%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.item__text img {
  display: inline-block;
}
.item__text h3 {
  display: inline-block;
  font-style: normal;
  font-weight: bold;
  line-height: 23px;
  font-size: 16px;
  color: #3F3F48;
  margin-left: 2vw;
}
.item__p {
  display: inline-block;
  max-width: 35%;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-style: normal;
  font-weight: 300;
  line-height: 27px;
  font-size: 16px;
  color: #3F3F48;
}
.item__num {
  display: inline-block;
}
.item__num .input-number {
  width: 60px;
  background: #e9fde2;
  border: none;
  padding: 0 12px;
  vertical-align: top;
  text-align: center;
  outline: none;
}
.item__num .input-number,
.item__num .input-number-decrement,
.item__num .input-number-increment {
  height: 28px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.item__num .input-number-decrement,
.item__num .input-number-increment {
  display: inline-block;
  width: 28px;
  line-height: 28px;
  background: #b7fd9f;
  color: #31ba00;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  position: relative;
}
.item__num .input-number-decrement:active,
.item__num .input-number-increment:active {
  background: #ddd;
}
.item__num .input-number-decrement {
  border-radius: 50%;
  left: 20px;
}
.item__num .input-number-increment {
  border-radius: 50%;
  right: 20px;
}
.item__price-2 {
  display: inline-block;
  font-size: 22px;
  text-align: right;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  padding-right: 30px;
}
.item__delete {
  margin: 43px;
  text-align: right;
}
.basket__btn {
  display: inline-block;
  padding: 14px 70px;
  background: #C2F62C;
  border-radius: 100px;
  color: #025514;
  font-size: 16px;
}
.basket__info {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  color: #3F3F48;
}
.basket__info span {
  display: inline-block;
}
.basket__info .price {
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 36px;
  padding-left: 10px;
}
/*
 * Components
 *
 * Here you include small & reusable pieces (components)
 * of your website like UI Buttons, Inputs, Checkboxes, Cards e.t.c
 */
/*
 * UI Button
 *  
 * Create UI Buttons using this module.
 *
 * Note: To create new type of button
 *       first extend '.btn-base'.
 */
/*
 * Base for all buttons 
 */
.btn-base {
  display: inline-block;
  white-space: nowrap;
  cursor: pointer;
  touch-action: manipulation;
  /* Prevent user from selecting the UI element */
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
/*
 * Simple button
 */
.btn {
  /* Extend base btn */
  color: white;
  padding: 2px 16px;
  background: transparent;
  border: 1px white solid;
  border-radius: 8px;
  font-size: 18px;
  display: inline-block;
  transition: 0.2s all ease-out;
}
.btn--big {
  padding: 12px 48px;
}
/*
 * Text
 *  
 * Create a paragraph or any text with
 * styles shared throughout your website
 */
.text {
  /* ... */
}
/* 
 * Font icon module 
 * 
 * Use if you have font icons, fill with icon classes
 */
/*
 * Site Logo 
 *
 * Here you define your base logo styles
 * it may be reused throughout your website
 */
.logo {
  background: no-repeat center;
}
/*
 * UI Input
 *  
 * Create UI Inputs using this module
 */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/*
 * Title
 *  
 * Create a title
 * styles shared throughout your website
 */
.hamburger {
  padding: 15px;
  cursor: pointer;
  display: none;
  overflow: hidden;
  background-color: transparent;
}
.hamburger__container {
  width: 36px;
  height: 24px;
  position: relative;
}
.hamburger:hover .hamburger__inner {
  transform: translate(-51px, 50%);
  opacity: 0;
}
.hamburger:hover .hamburger__inner::before,
.hamburger:hover .hamburger__inner::after {
  transform: translate(102px, 0);
  opacity: 0;
}
.hamburger.is-active .hamburger__inner {
  display: none;
}
.hamburger__inner {
  width: 100%;
  height: 2px;
  background-color: #000000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  top: 50%;
  transform: translate(0px, -50%);
  opacity: 1;
}
.hamburger__inner::before,
.hamburger__inner::after {
  width: 100%;
  height: 2px;
  background-color: #000000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  content: "";
  opacity: 1;
  transform: translate(0px, 0);
}
.hamburger__inner::before {
  top: -13px;
}
.hamburger__inner::after {
  top: 13px;
}
.hamburger.is-active .hamburger__hidden {
  opacity: 1;
  transform: rotate(45deg);
}
.hamburger.is-active .hamburger__hidden::before {
  transform: translate(0, 13px) rotate(90deg);
  transform-origin: center;
}
.hamburger.is-active .hamburger__hidden::after {
  transform-origin: center;
  transform: translate(0, -13px) rotate(0);
}
.hamburger__hidden {
  opacity: 0;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #99FF1D;
  top: 50%;
  transform: translate(51px, -50%);
}
.hamburger__hidden::before,
.hamburger__hidden::after {
  width: 100%;
  height: 2px;
  border-radius: 4px;
  position: absolute;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.4s;
  background-color: #99FF1D;
  content: "";
  transform: translate(102px, 0);
}
.hamburger__hidden::before {
  top: -13px;
}
.hamburger__hidden::after {
  top: 13px;
}
/*
 * UI Form-group
 * 
 * Use this module to create things
 * like bottom margin to space out your 
 * forms or use to define states for your forms
 */
.form-group {
  margin-bottom: 15px;
}
.form-group--error {
  /* Error state ... */
}
/*
 * Pagination
 *
 * Define pagination component.
 *
 * Note: Uses nested selectors for 'laravels' 
 *       automatically generated pagination.
 *       
 */
.pagination {
  display: inline-block;
  /* Prevent user from selecting the UI element*/
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
.pagination li {
  float: left;
  /* 
           Make sure that 'disabled' and
           'active' item has no hover effect 
         */
}
.pagination li.active a {
  background-color: #232323;
  color: #fff;
  cursor: default;
}
.pagination li.disabled a {
  cursor: not-allowed;
  background-color: #efefef;
}
.pagination li:not(.disabled):not(.active):hover a {
  background-color: #ccc;
}
.pagination a {
  display: block;
  padding: 10px 15px;
}
/*
 * Socials
 *
 * Create reusable social elements
 * use font icons which you define 
 * in 'components/_icon.less'.
 */
.socials {
  display: inline-block;
}
.socials__item {
  float: left;
  margin-right: 10px;
}
.socials__item--last {
  margin-right: 0;
}
.socials__link {
  display: block;
  text-align: center;
  line-height: 40px;
  width: 40px;
  height: 40px;
  /* Font-icon */
}
.socials__link i {
  vertical-align: middle;
}
/*
 * Thumb
 *
 * Define thumb for things like
 * user-photo, comment-author-photo,
 * small image & e.t.c.
 *
 */
.thumb {
  background: #ccc no-repeat center;
  /* Fallback for IOS Safari 'cover' if possible else '100%' */
  background-size: 100%;
  background-size: cover;
  /* Sizing */
  /* Rounded variant */
}
.thumb--sm {
  width: 50px;
  height: 50px;
}
.thumb--md {
  width: 75px;
  height: 75px;
}
.thumb--lg {
  width: 100px;
  height: 100px;
}
.thumb--rounded {
  border-radius: 10px;
}
.thumb--circle {
  border-radius: 50%;
}
/* 
 * Animation
 *
 * Animation module to create
 * keyframes animations and classes which
 * refer to them.
 */
.anim {
  position: fixed;
  z-index: 9999;
  background: white;
  left: 0;
  right: 0;
  bottom: 0;
  top: 50px;
  overflow-y: auto;
  overflow-x: hidden;
}
.animation {
  transform: translate(-100%, 0);
}
.disabled {
  pointer-events: none;
}
.blocks-shadow {
  box-shadow: -5px -5px 15px rgba(0, 0, 0, 0.1);
}
/*
 * Utilities
 *
 * Here you include your utility modules
 * like text-align, centering, e.t.c
 */
/*
 * Centered
 *
 * Center 'abosulute' or 'relative' positioned
 * elements to center.
 *
 * Note: It uses css3 'translate' property
 */
.centered {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.centered-y {
  top: 50%;
  transform: translateY(-50%);
}
.centered-x {
  left: 50%;
  transform: translateX(-50%);
}
/*
 * Img fluid
 *
 * Tiny helper module which creates fluid
 * images using max-width and height: auto
 */
.img-fluid {
  max-width: 100%;
  height: auto;
  /* Make sure that there are no space left */
  vertical-align: middle;
}
/*
 * Text alignment
 * 
 * Use this simple helper module to easily align
 * your Text or UI elements.
 */
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-justify {
  text-align: justify;
}
/*
 * Spacer
 *
 * Fill this file with fast & responsive 
 * spacing classes with media queries
 *
 * Useful for things like layout padding which is
 * good for keeping padding and margins consistent throughout
 * your website
 *
 */
/*
 * Layout spacers
 */
/* Padding */
.p-layout {
  padding: 50px 50px;
}
.px-layout {
  padding-left: 50px;
  padding-right: 50px;
}
.py-layout {
  padding-top: 50px;
  padding-bottom: 50px;
}
.pt-layout {
  padding-top: 50px;
}
.pr-layout {
  padding-right: 50px;
}
.pb-layout {
  padding-bottom: 50px;
}
.pl-layout {
  padding-left: 50px;
}
/* Margin */
.m-layout {
  margin: 50px 50px;
}
.mx-layout {
  margin-left: 50px;
  margin-right: 50px;
}
.my-layout {
  margin-top: 50px;
  margin-bottom: 50px;
}
.mt-layout {
  margin-top: 50px;
}
.mr-layout {
  margin-right: 50px;
}
.mb-layout {
  margin-bottom: 50px;
}
.ml-layout {
  margin-left: 50px;
}
/* Media Queries */
/*
 * Zero spacers
 */
/* Padding */
.p-0 {
  padding: 0;
}
.px-0 {
  padding-right: 0;
  padding-left: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.pt-0 {
  padding-top: 0;
}
.pr-0 {
  padding-right: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.pl-0 {
  padding-left: 0;
}
/* Margin */
.m-0 {
  margin: 0;
}
.mx-0 {
  margin-right: 0;
  margin-left: 0;
}
.my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.mt-0 {
  margin-top: 0;
}
.mr-0 {
  margin-right: 0;
}
.mb-0 {
  margin-bottom: 0;
}
.ml-0 {
  margin-left: 0;
}
/* Media Queries */
/*
 * Custom spacers
 */
/*
 * Visible-Hidden
 *
 * This module used for hiding and showing elements
 * at breakpoints only
 */
.visible-sm-block,
.visible-md-block,
.visible-lg-block,
.visible-sm-inline-block,
.visible-md-inline-block,
.visible-lg-inline-block {
  display: none;
}
@media (max-width: 768px) {
  .visible-sm-block {
    display: block;
  }
  .visible-sm-inline-block {
    display: block;
  }
  .hidden-sm {
    display: none;
  }
}
@media (max-width: 992px) {
  .visible-md-block {
    display: block;
  }
  .visible-md-inline-block {
    display: inline-block;
  }
  .hidden-md {
    display: none;
  }
}
@media (max-width: 1200px) {
  .visible-lg-block {
    display: block;
  }
  .visible-lg-inline-block {
    display: inline-block;
  }
  .hidden-lg {
    display: none;
  }
}
/*
 * No flicker
 *  
 * Little utility helper when applied removes
 * weird flicker in -webkit- browsers
 * when using css3 transitions 
 */
.no-flick {
  -webkit-transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
}
.redactor-content p {
  font-size: 17px;
  line-height: 1.4;
  padding-bottom: 10px;
}
.redactor-content img {
  vertical-align: middle;
  max-width: 100% !important;
  height: auto !important;
}
.redactor-content ul {
  padding-left: 40px;
  list-style: circle;
}
.redactor-content ol {
  padding-left: 40px;
}
.redactor-content li {
  font-size: 17px;
}
.redactor-content a {
  color: blue;
  font-weight: 700;
}
.redactor-content a:hover {
  text-decoration: underline;
}
.redactor-content b,
.redactor-content strong {
  font-weight: 700;
}
.redactor-content table {
  max-width: 100%;
  width: 100%;
  background-color: #fff;
  border: 0;
  overflow: auto;
}
.redactor-content tr:hover {
  background-color: rgba(0, 0, 0, 0.02);
}
.redactor-content th,
.redactor-content td {
  padding: 15px;
  border: 0;
  border: 1px solid gray;
}
/*
 * Text color
 *
 * Define fast text coloring classes
 */
.text-white {
  color: #fff;
}
.text-black {
  color: #232323;
}
/*
 * Background Color
 *
 * Define fast background coloring classes
 */
.bg-white {
  background-color: #fff;
}
.bg-black {
  background-color: #232323;
}
/*
 * Position
 *  
 * Helper module to easily set
 * position and z-index of elements.
 */
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
/* 
 * Z-Index from 0-3 
 */
.z-index-0 {
  z-index: 0;
}
.z-index-1 {
  z-index: 1;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
/*
 * Display type 
 *
 * Display type utility which
 * has responsive breakpoints 
 */
.display-block {
  display: block;
}
.display-inline-block {
  display: inline-block;
}
@media (max-width: 1200px) {
  .display-lg-block {
    display: block;
  }
  .display-lg-inline-block {
    display: inline-block;
  }
}
@media (max-width: 992px) {
  .display-md-block {
    display: block;
  }
  .display-md-inline-block {
    display: inline-block;
  }
}
@media (max-width: 768px) {
  .display-sm-block {
    display: block;
  }
  .display-sm-inline-block {
    display: inline-block;
  }
}
.clearfix {
  clear: both;
  content: "";
  display: table;
}
/*
 * Float
 *
 * Floating helper classes
 */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.float-none {
  float: none;
}
@media (max-width: 1200px) {
  .main__title {
    font-size: 80px;
    line-height: 70px;
  }
  .about__information ul a {
    font-size: 16px;
  }
  .content__slider--item b {
    font-size: 30px;
  }
  .content__slider--item p {
    font-size: 16px;
  }
  .main {
    padding-top: 80px;
  }
  .site-bottom__title {
    font-size: 70px;
  }
  .cont-fix {
    width: auto;
  }
  .nav__logo {
    margin-right: 0;
    width: 160px;
  }
  .nav__profile {
    padding-left: 30px;
  }
  .nav__links {
    font-size: 12px;
  }
  .content__timer--padding .second,
  .content__timer--padding .hours,
  .content__timer--padding .minute,
  .content__timer--padding .days {
    font-size: 120px;
  }
  .footer__bottom--info {
    font-size: 8px;
    padding-right: 10px;
  }
  .footer__bottom--phone {
    font-size: 16px;
  }
  .footer__bottom--address {
    font-size: 12px;
  }
  .register__title {
    font-size: 100px;
  }
}
@media (max-width: 992px) {
  .hamburger {
    display: inline-block;
  }
  .about__information ul {
    display: none;
  }
  .register__title {
    font-size: 80px;
  }
  .nav__links {
    display: none;
  }
  .md-float-right {
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 5px;
  }
  .nav__lang {
    display: none;
  }
  .nav {
    height: 60px;
  }
  .nav__profile {
    display: none;
  }
  .main__title {
    font-size: 60px;
    line-height: 70px;
    padding-top: 30px;
  }
  .main__info--time {
    font-size: 50px;
  }
  .main__info--distance {
    font-size: 20px;
  }
  .bottom__title {
    font-size: 50px;
    line-height: 90px;
  }
  .content__timer--padding .second,
  .content__timer--padding .hours,
  .content__timer--padding .minute,
  .content__timer--padding .days {
    font-size: 100px;
  }
  .content__title {
    font-size: 25px;
  }
  .site-bottom .main__register {
    margin-bottom: 30px;
  }
  .site-bottom .text-right {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .contacts__title {
    font-size: 90px;
  }
  .main__title {
    padding-top: 100px;
  }
  .site-bottom__title {
    padding-bottom: 0;
  }
  .main {
    min-height: 550px;
  }
  .content__timer--padding {
    padding-left: 10px;
  }
  .content__timer--padding .second,
  .content__timer--padding .hours,
  .content__timer--padding .minute,
  .content__timer--padding .days {
    font-size: 80px;
  }
  .footer__bottom {
    background: #000000;
    height: 370px;
  }
  .footer__bottom--phone {
    font-size: 32px;
    display: block;
  }
  .footer__bottom--info {
    padding-top: 40px;
    font-size: 11px;
    display: block;
    padding-bottom: 20px;
  }
  .footer__bottom--address {
    font-size: 14px;
    max-width: 230px;
    margin: 20px auto 50px;
  }
  .footer__bottom div {
    text-align: center;
  }
  .site-bottom__title {
    padding-bottom: 30px;
  }
}
@media (max-width: 640px) {
  .borders::before {
    border-bottom: 50px solid transparent;
  }
  .content__slider--item .inside {
    padding-bottom: 50px;
  }
  .content__slider--item b {
    font-size: 25px;
  }
  .content__slider--item p {
    font-size: 15px;
    font-weight: normal;
    line-height: 15px;
  }
  .content__timer--padding .counter {
    font-size: 60px;
  }
}
@media (max-width: 540px) {
  .contacts__title {
    font-size: 40px;
  }
  .about__information--title {
    font-size: 24px;
  }
  .about__information--table .info .right,
  .about__information--table .info .left {
    font-size: 12px;
    font-weight: normal;
  }
  .content__slider {
    padding-top: 20px;
  }
  .content__timer--padding .counter {
    font-size: 40px;
  }
  .main__register {
    margin-bottom: 20px;
  }
  .content__btn {
    margin: 30px 0;
  }
  .register__status--wrapper {
    font-size: 12px;
  }
  .footer .text-right {
    padding-top: 40px;
    padding-bottom: 20px;
    text-align: left;
  }
  .footer .footer__socials {
    text-align: left !important;
  }
  .footer .footer__socials a {
    padding: 0 15px 0 0;
  }
  .apply {
    font-size: 11px;
  }
  .site-bottom__title {
    font-size: 36px;
    line-height: 32px;
  }
  .register__title {
    font-size: 60px;
    padding-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .contacts__number {
    font-size: 26px;
  }
  .contacts__info {
    font-size: 12px;
  }
  .register__form .flexy a img {
    margin-top: 20px;
    width: 130px;
  }
  .register__form .flexy a span {
    padding-bottom: 20px;
  }
  .register__form .flexy {
    margin-bottom: 50px;
  }
  .register__form .flexy a {
    height: auto;
  }
  .contacts__bottom .left,
  .contacts__bottom .right {
    font-size: 10px;
  }
  .register__status--wrapper {
    font-size: 10px;
    padding: 15px 0px;
  }
  .register .whitespace {
    padding-left: 0;
    padding-right: 0;
  }
  .register__distance {
    padding-top: 40px;
  }
  .register__status :not(.active) {
    display: none;
  }
  .register__status .active {
    width: 100%;
    text-align: center;
    font-size: 18px;
  }
  .register__status .active:after {
    display: none;
  }
}
@media (max-width: 380px) {
  .main {
    min-height: 91vh;
  }
  .main .main__register {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .register__title {
    font-size: 40px;
  }
  .about--info {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .about--info-right {
    padding-top: 40px;
  }
  .main__title {
    text-align: center;
  }
  .main__title img {
    width: 90%;
  }
  .content__timer {
    margin-bottom: 0;
  }
  .content__timer--padding:last-child {
    display: none;
  }
  .content {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .content__timer {
    padding-bottom: 40px;
  }
  .content__btn {
    margin: 20px 0 40px;
  }
  .content__partners .opacity-hide {
    display: none;
  }
  .site-bottom__title {
    padding-top: 10px;
  }
  .little-hide {
    display: none;
  }
  .about--info-left h3 {
    line-height: 24px;
    font-size: 25px;
  }
  .about--info-left p {
    padding-bottom: 40px;
  }
  .site-bottom .text-right {
    padding-left: 0;
  }
}
