/*
 * Responsive breakpoints
 */

@screen-lg: 1200px;
@screen-md: 992px;
@screen-sm: 768px;

/*
 * Font variables
 */

@base-font-size: 16px;
@base-font-family: Montserrat, sans-serif;
@base-font-color: #232323;
@base-line-height: 1.3;
@base-font-weight: 400;

/*
 * <body/> background-color
 */

@body-background-color: #fff;

/*
 * Layout spacing
 *
 * Define layout spacing classes
 * which are applied to fast spacer classes
 * defined in 'utilities/spacer/_layout.less'
 */

@layout-spacing-x: 50px;
@layout-spacing-y: 50px;

/*
 * Component variables
 *
 * Define all of the components variables
 */

@ui-padding-y: 12px; /* Used to make simillar UI elements same height */

/*
 * Block variables
 *
 * Define block variables
 */

@navbar-background-color: #efefef;
@main-background-color: rgba(51, 51, 51, 0.8);