/* 
 * Animation
 *
 * Animation module to create
 * keyframes animations and classes which
 * refer to them.
 */

.anim{
    position: fixed;
    z-index: 9999;
    background: white;
    left: 0;
    right: 0;
    bottom: 0;
    top: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}
.animation{
    .translate(-100%,0);
}
.disabled{
    pointer-events: none;
}
